# Supervised Learning In Action
By Mahfuz Miah, November 2019

## 1. Synopsis

Data taken from: 

Lead Testing in School Drinking Water Sampling and Results: Most Recently Reported Beginning 2016
Link: https://healthdata.gov/dataset/lead-testing-school-drinking-water-sampling-and-results-most-recently-reported-beginning

Combined with:
NYS Education Department Data
Link: https://data.nysed.gov/downloads.php
SRC2018: This database contains accountability, annual assessment, and staff data for the state as well as by county, Need to Resource Capacity group, district, public school, and charter school.
STUDED2018: This database contains free and reduced-price lunch, average class size, student attendance and suspensions, staff counts, teacher attendance, and teacher turnover data.
ENROLL2018: This database contains school, district, county, and statewide enrollment by grade, race/ethnicity, gender, and other groups.

Can join tables on BEDS (Basic Educational Data System (BEDS) code) or name of school. Theoretically.

## 2. Background

## 3. Understanding and Preparing the Data Set

In [192]:
#Libraries:
# import all necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.cbook as cbook
import statistics
from pandas import DataFrame
import datetime
import seaborn as sns
from sklearn import linear_model
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from sklearn import linear_model
from fractions import Fraction
import statsmodels.api as sm
import seaborn as sns
from scipy.stats import normaltest

# set up the figure size

%matplotlib inline

In [193]:
# #Load the data:
# from meza import io, process as pr, convert as cv
# from io import open

# enroll_path = '/Users/Mahfuz-Tamim/Thinkful/Supervised Learning/Capstone/enrollment_2018/ENROLL2018.mdb'
# studed_path = '/Users/Mahfuz-Tamim/Thinkful/Supervised Learning/Capstone/studed2018/STUDED2018.mdb'
# src_path = '/Users/Mahfuz-Tamim/Thinkful/Supervised Learning/Capstone/SRC2018/SRC2018_20190627.mdb'
# #
# enroll_data = io.read(enroll_path)

# #
# studed_data = io.read(studed_path) 

# #
# src_data = io.read(src_path)

In [194]:
# with open(enroll_path) as f:
#     records = io.read_mdb(f, encoding='latin-1')

In [195]:
# next(enroll_data)

In [196]:
# enroll_data = pr.prepend(enroll_data, row)

In [197]:
# enroll_data, result = pr.detect_types(enroll_data)
# {t['id']: t['type'] for t in result['types']}

In [198]:
# enroll_data

In [199]:
# print(next(enroll_data))

In [200]:
# print(next(studed_data))

In [201]:
# print(next(src_data))

In [202]:
# from io import open
# from meza import io

# #records1 = io.read(enroll_path)
# #records2 = io.read('path/to/file.xls')

# with open(enroll_path, encoding='utf-8') as f:
#     records3 = io.read(f, ext='mdb')

# records3

In [203]:
# import pandas_access as mdb  # Link: https://github.com/jbn/pandas_access

# # Listing the tables.
# for tbl in mdb.list_tables(src_path):
#     print(tbl)

In [204]:
# # Read a small table.
# df = mdb.read_table(src_path, "ACC EM ELP")

In [205]:
# to_pandas_schema(read_schema(rdb_file, schema_encoding),kwargs.pop('implicit_string', True))

In [206]:
# # Read a huge table.
# accumulator = []
# for chunk in mdb.read_table(src_path, "ACC EM ELP", chunksize=10000):
#     accumulator.append(f(chunk))

In [207]:
# Set up the data
# Link: https://healthdata.gov/dataset/lead-testing-school-drinking-water-sampling-and-results-most-recently-reported-beginning
# Lead Testing in School Drinking Water Sampling and Results: Most Recently Reported Beginning 2016

def setdata(filename):
    df = pd.read_csv(filename)
    
    # Strip and make column names lowercase so that they are easy to manage. 
    df.columns = df.columns.str.strip().str.lower()

    # Replace characters or remove spaces and make all words lowercase.
    df.columns = df.columns.str.replace(' ', '_').str.replace('/', '_').str.replace('(', '').str.replace(')', '')

    return df

In [208]:
# define all paths to necessary csv/txt files
lead_path = '/Users/Mahfuz-Tamim/Thinkful/Supervised Learning/Capstone/Lead_Testing.csv'
elem_path = '/Users/Mahfuz-Tamim/Thinkful/Supervised Learning/Capstone/Elementary.txt'
hs_path = '/Users/Mahfuz-Tamim/Thinkful/Supervised Learning/Capstone/HighSchool.txt'
dem_path = '/Users/Mahfuz-Tamim/Thinkful/Supervised Learning/Capstone/DemographicFactors.txt'
lunch_path = '/Users/Mahfuz-Tamim/Thinkful/Supervised Learning/Capstone/FreeReducedPriceLunch.txt'
ins_path = '/Users/Mahfuz-Tamim/Thinkful/Supervised Learning/Capstone/InstitutionGrouping.txt'

In [209]:
# set up all the dataframes from all the csv/txt files
lead_df = setdata(lead_path)
elem_df = setdata(elem_path)
hs_df = setdata(hs_path)
dem_df = setdata(dem_path)
lunch_df = setdata(lunch_path)
ins_df = setdata(ins_path)

# make a list of all the dataframes
list_dfs = [lead_df,elem_df,hs_df,dem_df,lunch_df,ins_df]

# make a list of all the names of the dataframes in string format
str_list_dfs = ['lead_df','elem_df','hs_df','dem_df','lunch_df','ins_df']

In [210]:
lead_df.head()

,school_district,school,county,type_of_organization,number_of_outlets,any_buildings_with_lead-free_plumbing?,previously_sampled_outlets,outlets_waiver_requested,waivers_granted,outlets_sampled_after_regulation,...,school_website,beds_code,school_street,school_city,school_state,school_zip_code,date_sampling_updated,date_results_updated,county_location,location
0,BOCES No District Name,SULLIVAN BOCES,Sullivan,BOCES School,NaN,No,NaN,NaN,NaN,NaN,...,NaN,599000000000,6 WIERK AVE,LIBERTY,NY,12754,NaN,NaN,"(41.705166, -74.711705)","6 WIERK AVE\nLIBERTY, NY 12754\n(41.795377, -7..."
1,BOCES No District Name,WSWHE BOCES MEYERS EDUCATIONAL CENTER MAIN BUI...,Washington,BOCES School,NaN,No,NaN,NaN,NaN,NaN,...,NaN,649000000006,15 HENNING ROAD,SARATOGA SPRINGS,NY,12866,NaN,11/29/2018,"(43.289513, -73.454761)","15 HENNING ROAD\nSARATOGA SPRINGS, NY 12866\n(..."
2,HAMBURG CENTRAL SCHOOL,HAMBURG SHS,Erie,Public School,104.0,No,0.0,0.0,0.0,104.0,...,hamburg central school district,141601060007,LEGION DR,HAMBURG,NY,14075,12/02/2016,11/07/2016,"(42.888143, -78.795544)","LEGION DR\nHAMBURG, NY 14075"
3,LYONS CENTRAL SCHOOL,LYONS ELEMENTARY SCHOOL,Wayne,Public School,29.0,No,0.0,0.0,0.0,0.0,...,www.lyonscsd.org,650501040001,98 WILLIAMS ST,LYONS,NY,14489,12/03/2016,12/03/2016,"(43.144336, -77.117995)","98 WILLIAMS ST\nLYONS, NY 14489\n(43.065833, -..."
4,MEDINA CENTRAL SCHOOL,OAK ORCHARD SCHOOL,Orleans,Public School,115.0,No,0.0,0.0,0.0,115.0,...,medinacsd.org,450801060002,W OAK ORCHARD ST,MEDINA,NY,14103,11/22/2016,09/28/2018,"(43.248394, -78.218438)","W OAK ORCHARD ST\nMEDINA, NY 14103"

In [211]:
elem_df[elem_df.subgroup_name == "All Students"].sort_values(by = "core_index")

,entity_cd,entity_name,year,subject,subgroup_name,core_cohort,core_index,weighted_cohort,weighted_index,composite_level,override,override_weighted,override_core
31214,512300010009,OGDENSBURG FREE ACADEMY,2018,Combined,All Students,564,100,596,94.6,2,NaN,NaN,NaN
17729,321100010567,LINDEN TREE ELEMENTARY SCHOOL,2018,Combined,All Students,377,100,377,100,2,NaN,NaN,NaN
23833,342800010008,JHS 8 RICHARD S GROSSLEY,2018,Combined,All Students,669,100.1,670,100,2,NaN,NaN,NaN
9244,261600010004,SCHOOL 4-GEORGE MATHER FORBES,2018,Combined,All Students,612,100.1,613,99.9,2,NaN,NaN,NaN
15281,320700010000,NEW YORK CITY GEOGRAPHIC DISTRICT # 7,2018,Combined,All Students,16128,100.1,16247,99.4,2,NaN,NaN,NaN
39268,661401030005,ROOSEVELT SCHOOL,2018,Combined,All Students,584,100.1,713,82,2,NaN,NaN,NaN
3934,131500010006,G W KRIEGER SCHOOL,2018,Combined,All Students,621,100.2,629,99,2,NaN,NaN,NaN
31060,511301040000,HERMON-DEKALB CENTRAL SCHOOL DISTRICT,2018,Combined,All Students,403,100.2,417,96.9,2,NaN,NaN,NaN
17032,321000010244,NEW SCHOOL FOR LEADERSHIP AND JOURNALISM (THE),2018,Combined,All Students,1613,100.2,1621,99.7,2,NaN,NaN,NaN
24480,342900010195,PS 195 WILLIAM HABERLE,2018,Combined,All Students,547,100.3,547,100.3,2,NaN,NaN,NaN
11887,280401030001,PARK AVENUE SCHOOL,2018,Combined,All Students,1060,100.3,1192,89.2,2,NaN,NaN,NaN
14343,310400010206,PS 206 JOSE CELSO BARBOSA,2018,Combined,All Students,880,100.4,882,100.2,2,NaN,NaN,NaN
37716,650301040000,CLYDE-SAVANNAH CENTRAL SCHOOL DISTRICT,2018,Combined,All Students,666,100.4,777,86,1,NaN,NaN,NaN
37734,650301040004,CLYDE-SAVANNAH MIDDLE SCHOOL,2018,Combined,All Students,302,100.5,384,79,2,NaN,NaN,NaN
14243,310400010057,JAMES WELDON JOHNSON SCHOOL,2018,Combined,All Students,1096,100.5,1102,100,2,NaN,NaN,NaN
35516,580602040002,ROANOKE AVENUE SCHOOL,2018,Combined,All Students,343,100.6,361,95.6,2,NaN,NaN,NaN
31184,512201040003,NORWOOD-NORFOLK MIDDLE SCHOOL,2018,Combined,All Students,616,100.6,640,96.9,2,NaN,NaN,NaN
15217,310600011348,WASHINGTON HEIGHTS EXPEDITIONARY LEARNING SCHOOL,2018,Combined,All Students,615,100.7,615,100.7,2,NaN,NaN,NaN
4847,140600010082,PS 82,2018,Combined,All Students,266,100.8,266,100.8,2,NaN,NaN,NaN
37656,641701060001,WHITEHALL ELEMENTARY SCHOOL,2018,Combined,All Students,394,100.9,401,99.1,2,NaN,NaN,NaN
14399,310400010825,ISAAC NEWTON MS FOR MATH AND SCIENCE,2018,Combined,All Students,378,100.9,378,100.9,2,NaN,NaN,NaN
19578,331700010092,PS 92 ADRIAN HEGEMAN,2018,Combined,All Students,445,100.9,445,100.9,2,NaN,NaN,NaN
1696,43200050005,SENECA ELEMENTARY SCHOOL,2018,Combined,All Students,798,100.9,798,100.9,2,NaN,NaN,NaN
5045,140600860851,BUFFALO UNITED CHARTER SCHOOL,2018,Combined,All Students,903,101,937,97.3,2,NaN,NaN,NaN
6325,160101060000,TUPPER LAKE CENTRAL SCHOOL DISTRICT,2018,Combined,All Students,684,101.1,738,93.7,1,NaN,NaN,NaN
39894,662300010021,SCHOOL 21,2018,Combined,All Students,557,101.1,557,101.1,2,NaN,NaN,NaN
37178,622002060002,ELLENVILLE ELEMENTARY SCHOOL,2018,Combined,All Students,734,101.1,777,95.5,2,NaN,NaN,NaN
13173,310100010378,SCHOOL FOR GLOBAL LEADERS,2018,Combined,All Students,465,101.1,465,101.1,2,NaN,NaN,NaN
6918,190301040001,CAIRO-DURHAM ELEMENTARY SCHOOL,2018,Combined,All Students,561,101.2,602,94.4,2,NaN,NaN,NaN
35235,580512030001,SOUTHWEST ELEMENTARY SCHOOL,2018,Combined,All Students,530,101.2,1076,49.9,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9555,261600010095,ROBERT BROWN SCHOOL OF CONSTRUCTION AND DESIGN,2018,Combined,All Students,8,s,9,s,s,NaN,NaN,NaN
21322,332100011344,RACHEL CARSON HIGH SCHOOL FOR COASTAL STUDIES,2018,Combined,All Students,0,s,3,s,s,NaN,NaN,NaN
21327,332100011410,ABRAHAM LINCOLN HIGH SCHOOL,2018,Combined,All Students,3,s,3,s,s,NaN,NaN,NaN
35435,580513030006,CENTRAL ISLIP SENIOR HIGH SCHOOL,2018,Combined,All Students,6,s,6,s,s,NaN,NaN,NaN
9192,261501060004,CHURCHVILLE-CHILI SENIOR HIGH SCHOOL,2018,Combined,All Students,3,s,3,s,s,NaN,NaN,NaN
8759,260803060005,IRONDEQUOIT HIGH SCHOOL,2018,Combined,All Students,9,s,9,s,s,NaN,NaN,NaN
8602,260501060019,ATHENA HIGH SCHOOL,2018,Combined,All Students,6,s,6,s,s,NaN,NaN,NaN
8431,260401060001,GATES-CHILI HIGH SCHOOL,2018,Combined,All Students,0,s,6,s,s,NaN,NaN,NaN
21349,332100011540,JOHN DEWEY HIGH SCHOOL,2018,Combined,All Students,16,s,20,s,s,NaN,NaN,NaN
10183,280201030007,HEMPSTEAD HIGH SCHOOL,2018,Combined,All Students,11,s,21,s,s,NaN,NaN,NaN
35864,580905020001,HAMPTON BAYS HIGH SCHOOL,2018,Combined,All Students,0,s,4,s,s,NaN,NaN,NaN
10309,280202030010,UNIONDALE HIGH SCHOOL,2018,Combined,All Students,6,s,6,s,s,NaN,NaN,NaN
33205,580107030007,DEER PARK HIGH SCHOOL,2018,Combined,All Students,3,s,3,s,s,NaN,NaN,NaN
33634,580209020002,ROCKY POINT HIGH SCHOOL,2018,Combined,All Students,1,s,3,s,s,NaN,NaN,NaN
13018,280523030014,MHS AMES CAMPUS,2018,Combined,All Students,6,s,6,s,s,NaN,NaN,NaN
12786,280517030010,HICKSVILLE HIGH SCHOOL,2018,Combined,All Students,12,s,12,s,s,NaN,NaN,NaN
12707,280515030005,JERICHO SENIOR HIGH SCHOOL,2018,Combined,All Students,3,s,3,s,s,NaN,NaN,NaN
12233,280407030016,VILLAGE SCHOOL,2018,Combined,All Students,2,s,3,s,s,NaN,NaN,NaN
12228,280407030015,GREAT NECK NORTH HIGH SCHOOL,2018,Combined,All Students,6,s,6,s,s,NaN,NaN,NaN
12225,280407030014,GREAT NECK SOUTH HIGH SCHOOL,2018,Combined,All Students,0,s,3,s,s,NaN,NaN,NaN
11905,280401030003,DRYDEN STREET SCHOOL,2018,Combined,All Students,3,s,3,s,s,NaN,NaN,NaN
11874,280300010008,LONG BEACH SENIOR HIGH SCHOOL,2018,Combined,All Students,2,s,3,s,s,NaN,NaN,NaN
11817,280253070007,JOHN F KENNEDY HIGH SCHOOL,2018,Combined,All Students,0,s,3,s,s,NaN,NaN,NaN
11813,280253070006,WELLINGTON C MEPHAM HIGH SCHOOL,2018,Combined,All Students,0,s,3,s,s,NaN,NaN,NaN
11552,280227030003,CHESTNUT STREET SCHOOL,2018,Combined,All Students,12,s,12,s,s,NaN,NaN,NaN
11009,280215030004,4 SCHOOL,2018,Combined,All Students,2,s,2,s,s,NaN,NaN,NaN
33508,580205060020,SACHEM HIGH SCHOOL EAST,2018,Combined,All Students,6,s,6,s,s,NaN,NaN,NaN
10628,280208030005,ROOSEVELT HIGH SCHOOL,2018,Combined,All Students,6,s,9,s,s,NaN,NaN,NaN
20568,331900011660,W H MAXWELL CAREER AND TECHNICAL EDUCATION HIG...,2018,Combined,All Students,4,s,6,s,s,NaN,NaN,NaN
21341,332100011525,EDWARD R MURROW HIGH SCHOOL,2018,Combined,All Students,19,s,23,s,s,NaN,NaN,NaN

In [212]:
elem_df.composite_level.value_counts()

2    11674
s    11192
4     7333
3     7318
1     2863
Name: composite_level, dtype: int64

In [213]:
elem_df.subgroup_name.value_counts()

All Students                                       4522
Students with Disabilities                         4509
Economically Disadvantaged                         4477
White                                              4409
Hispanic or Latino                                 4370
Black or African American                          4159
Asian or Native Hawaiian/Other Pacific Islander    3969
Multiracial                                        3823
English Language Learners                          3633
American Indian or Alaska Native                   2509
Name: subgroup_name, dtype: int64

In [214]:
hs_df

,entity_cd,entity_name,year,subject,subgroup_name,composite_cohort,composite__index,composite__level,override
0,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,All Students,2152,146.5,1,NaN
1,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,Students with Disabilities,284,79.1,1,NaN
2,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,American Indian or Alaska Native,12,s,s,NaN
3,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,Asian or Native Hawaiian/Other Pacific Islander,200,165.6,2,NaN
4,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,Black or African American,1052,132.9,1,NaN
5,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,Hispanic or Latino,380,138,1,NaN
6,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,White,468,173.9,2,NaN
7,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,Multiracial,104,161.3,2,NaN
8,10100860907,GREEN TECH HIGH CHARTER SCHOOL,2018,Combined,Economically Disadvantaged,212,151.7,2,NaN
9,10100860960,ALBANY LEADERSHIP CHARTER HIGH SCHOOL FOR GIRLS,2018,Combined,All Students,232,158.4,2,NaN
10,10100860960,ALBANY LEADERSHIP CHARTER HIGH SCHOOL FOR GIRLS,2018,Combined,Students with Disabilities,24,s,s,NaN
11,10100860960,ALBANY LEADERSHIP CHARTER HIGH SCHOOL FOR GIRLS,2018,Combined,American Indian or Alaska Native,4,s,s,NaN
12,10100860960,ALBANY LEADERSHIP CHARTER HIGH SCHOOL FOR GIRLS,2018,Combined,Asian or Native Hawaiian/Other Pacific Islander,32,143.1,2,NaN
13,10100860960,ALBANY LEADERSHIP CHARTER HIGH SCHOOL FOR GIRLS,2018,Combined,Black or African American,196,159,2,NaN
14,10100860960,ALBANY LEADERSHIP CHARTER HIGH SCHOOL FOR GIRLS,2018,Combined,Hispanic or Latino,44,162.1,2,NaN
15,10100860960,ALBANY LEADERSHIP CHARTER HIGH SCHOOL FOR GIRLS,2018,Combined,White,28,s,s,NaN
16,10100860960,ALBANY LEADERSHIP CHARTER HIGH SCHOOL FOR GIRLS,2018,Combined,English Language Learners,20,s,s,NaN
17,10100860960,ALBANY LEADERSHIP CHARTER HIGH SCHOOL FOR GIRLS,2018,Combined,Economically Disadvantaged,196,154.9,2,NaN
18,10201040000,BERNE-KNOX-WESTERLO CENTRAL SCHOOL DISTRICT,2018,Combined,All Students,300,185.5,3,NaN
19,10201040000,BERNE-KNOX-WESTERLO CENTRAL SCHOOL DISTRICT,2018,Combined,Students with Disabilities,68,78.4,1,NaN
20,10201040000,BERNE-KNOX-WESTERLO CENTRAL SCHOOL DISTRICT,2018,Combined,Black or African American,4,s,s,NaN
21,10201040000,BERNE-KNOX-WESTERLO CENTRAL SCHOOL DISTRICT,2018,Combined,Hispanic or Latino,4,s,s,NaN
22,10201040000,BERNE-KNOX-WESTERLO CENTRAL SCHOOL DISTRICT,2018,Combined,White,300,185.5,3,NaN
23,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,English Language Learners,160,80.7,2,NaN
24,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,Economically Disadvantaged,1164,130.7,1,NaN
25,10100010034,ALBANY HIGH SCHOOL,2018,Combined,All Students,2112,147.9,2,NaN
26,10100010034,ALBANY HIGH SCHOOL,2018,Combined,Students with Disabilities,244,80.5,2,NaN
27,10100010034,ALBANY HIGH SCHOOL,2018,Combined,American Indian or Alaska Native,12,s,s,NaN
28,10100010034,ALBANY HIGH SCHOOL,2018,Combined,Asian or Native Hawaiian/Other Pacific Islander,200,165.6,2,NaN
29,10100010034,ALBANY HIGH SCHOOL,2018,Combined,Black or African American,1036,133.9,2,NaN
...,...,...,...,...,...,...,...,...,...
15965,680601060000,PENN YAN CENTRAL SCHOOL DISTRICT,2018,Combined,All Students,460,182.6,3,NaN
15966,680601060000,PENN YAN CENTRAL SCHOOL DISTRICT,2018,Combined,Students with Disabilities,100,109.3,2,NaN
15967,680601060000,PENN YAN CENTRAL SCHOOL DISTRICT,2018,Combined,American Indian or Alaska Native,4,s,s,NaN
15968,680601060000,PENN YAN CENTRAL SCHOOL DISTRICT,2018,Combined,Asian or Native Hawaiian/Other Pacific Islander,4,s,s,NaN
15969,680601060000,PENN YAN CENTRAL SCHOOL DISTRICT,2018,Combined,Black or African American,8,s,s,NaN
15970,680601060000,PENN YAN CENTRAL SCHOOL DISTRICT,2018,Combined,Hispanic or Latino,56,167.1,2,NaN
15971,680601060000,PENN YAN CENTRAL SCHOOL DISTRICT,2018,Combined,White,416,183.4,3,NaN
15972,680601060000,PENN YAN CENTRAL SCHOOL DISTRICT,2018,Combined,Multiracial,8,s,s,NaN
15973,680601060000,PENN YAN CENTRAL SCHOOL DISTRICT,2018,Combined,English Language Learners,8,s,s,NaN
15974,680601060000,PENN YAN CENTRAL SCHOOL DISTRICT,2018,Combined,Economically Disadvantaged,264,163.4,2,NaN
15975,680601060001,PENN YAN ACADEMY,2018,Combined,All Students,460,182.6,3,NaN
15976,680601060001,PENN YAN ACADEMY,2018,Combined,Students with Disabilities,100,109.3,2,NaN
15977,680601060001,PENN YAN ACADEMY,2018,Combined,American Indian or Alaska Native,4,s,s,NaN
15978,680601060001,PENN YAN ACADEMY,2018,Combined,Asian or Native Hawaiian/Other Pacific Islander,4,s,s,NaN
15979,680601060001,PENN YAN ACADEMY,2018,Combined,Black or African American,8,s,s,NaN
15980,680601060001,PENN YAN ACADEMY,2018,Combined,Hispanic or Latino,56,167.1,2,NaN
15981,680601060001,PENN YAN ACADEMY,2018,Combined,White,416,183.4,3,NaN
15982,680601060001,PENN YAN ACADEMY,2018,Combined,Multiracial,8,s,s,NaN
15983,680601060001,PENN YAN ACADEMY,2018,Combined,English Language Learners,8,s,s,NaN
15984,680601060001,PENN YAN ACADEMY,2018,Combined,Economically Disadvantaged,264,163.4,3,NaN
15985,680801040000,DUNDEE CENTRAL SCHOOL DISTRICT,2018,Combined,All Students,176,153,1,NaN
15986,680801040000,DUNDEE CENTRAL SCHOOL DISTRICT,2018,Combined,Students with Disabilities,68,85.6,2,NaN
15987,680801040000,DUNDEE CENTRAL SCHOOL DISTRICT,2018,Combined,Hispanic or Latino,8,s,s,NaN
15988,680801040000,DUNDEE CENTRAL SCHOOL DISTRICT,2018,Combined,White,172,153.5,2,NaN
15989,680801040000,DUNDEE CENTRAL SCHOOL DISTRICT,2018,Combined,Economically Disadvantaged,228,142.4,2,NaN
15990,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2018,Combined,All Students,164,152.4,2,NaN
15991,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2018,Combined,Students with Disabilities,52,70.5,2,NaN
15992,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2018,Combined,Hispanic or Latino,8,s,s,NaN
15993,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2018,Combined,White,160,152.9,2,NaN
15994,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2018,Combined,Economically Disadvantaged,228,142.4,2,NaN

In [215]:
dem_df

,entity_cd,entity_name,year,num_ell,per_ell,num_am_ind,per_am_ind,num_black,per_black,num_hisp,...,num_ecdis,per_ecdis,num_migrant,per_migrant,num_homeless,per_homeless,num_foster,per_foster,num_armed,per_armed
0,3000000,BROOME County,2017,487,2,74,0,2370,9,1693,...,14110,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4000000,CATTARAUGUS County,2017,23,0,776,6,241,2,330,...,7053,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5000000,CAYUGA County,2017,50,1,18,0,308,3,335,...,4609,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6000000,CHAUTAUQUA County,2017,636,3,189,1,396,2,2567,...,10442,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7000000,CHEMUNG County,2017,46,0,23,0,925,8,286,...,5967,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,8000000,CHENANGO County,2017,14,0,33,0,103,1,192,...,3689,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,9000000,CLINTON County,2017,29,0,29,0,223,2,118,...,5440,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10000000,COLUMBIA County,2017,293,4,5,0,505,7,608,...,3514,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,11000000,CORTLAND County,2017,23,0,3,0,106,2,163,...,3312,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,12000000,DELAWARE County,2017,47,1,14,0,72,1,262,...,2968,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,13000000,DUTCHESS County,2017,1165,3,32,0,4681,12,6814,...,15025,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,14000000,ERIE County,2017,7200,6,1050,1,24046,20,10914,...,59914,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,15000000,ESSEX County,2017,6,0,9,0,23,1,29,...,1881,52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,22902040000,BOLIVAR-RICHBURG CENTRAL SCHOOL DISTRICT,2017,0,0,2,0,2,0,9,...,469,64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,22902040001,BOLIVAR-RICHBURG JUNIOR-SENIOR HIGH SCHOOL,2017,0,0,1,0,2,0,7,...,254,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,22902040002,BOLIVAR-RICHBURG ELEMENTARY SCHOOL,2017,0,0,1,0,0,0,2,...,215,67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,30101060000,CHENANGO FORKS CENTRAL SCHOOL DISTRICT,2017,3,0,4,0,22,1,45,...,631,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,30101060001,CHENANGO FORKS ELEMENTARY SCHOOL,2017,3,0,1,0,13,2,14,...,316,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,30101060003,CHENANGO FORKS HIGH SCHOOL,2017,0,0,2,0,7,1,21,...,176,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,30101060004,CHENANGO FORKS MIDDLE SCHOOL,2017,0,0,1,0,2,1,10,...,139,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,30200010000,BINGHAMTON CITY SCHOOL DISTRICT,2017,247,5,10,0,1407,27,756,...,4042,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,30200010002,CALVIN COOLIDGE SCHOOL,2017,0,0,0,0,61,19,46,...,256,81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,30200010005,BENJAMIN FRANKLIN ELEMENTARY SCHOOL,2017,60,13,1,0,149,33,82,...,403,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,30200010008,THOMAS JEFFERSON SCHOOL,2017,0,0,2,1,75,24,33,...,197,64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,30200010011,MACARTHUR SCHOOL,2017,0,0,1,0,103,24,50,...,307,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,30200010012,THEODORE ROOSEVELT SCHOOL,2017,31,8,0,0,108,28,53,...,341,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,30200010014,WOODROW WILSON SCHOOL,2017,41,10,0,0,98,23,81,...,380,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,30200010015,EAST MIDDLE SCHOOL,2017,65,12,0,0,158,30,93,...,452,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,30200010016,WEST MIDDLE SCHOOL,2017,0,0,1,0,162,27,68,...,428,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30200010021,BINGHAMTON HIGH SCHOOL,2017,50,3,4,0,388,26,189,...,1034,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16540,662300860862,CHARTER SCHOOL OF EDUCATIONAL EXCELLENCE,2018,68,10,0,0,302,43,363,...,594,85,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
16541,662401060000,LAKELAND CENTRAL SCHOOL DISTRICT,2018,85,2,10,0,341,6,1149,...,1310,23,0.0,0.0,14.0,0.0,5.0,0.0,0.0,0.0
16542,662401060001,THOMAS JEFFERSON ELEMENTARY SCHOOL,2018,0,0,2,0,13,3,78,...,55,11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16543,662401060003,GEORGE WASHINGTON ELEMENTARY SCHOOL,2018,25,6,1,0,33,8,124,...,139,34,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
16544,662401060004,LINCOLN TITUS ELEMENTARY SCHOOL,2018,0,0,1,0,21,6,82,...,65,18,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
16545,662401060005,VAN CORTLANDTVILLE SCHOOL,2018,23,4,2,0,55,10,176,...,168,30,0.0,0.0,1.0,0.0,3.0,1.0,0.0,0.0
16546,662401060007,LAKELAND HIGH SCHOOL,2018,3,0,0,0,40,4,169,...,226,23,0.0,0.0,5.0,1.0,0.0,0.0,0.0,0.0
16547,662401060008,LAKELAND-COPPER BEECH MIDDLE SCHOOL,2018,14,1,1,0,68,5,249,...,318,24,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
16548,662401060009,BENJAMIN FRANKLIN ELEMENTARY SCHOOL,2018,2,0,3,1,33,6,81,...,106,20,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
16549,662401060010,WALTER PANAS HIGH SCHOOL,2018,18,2,0,0,78,9,190,...,233,26,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
16550,662402060000,YORKTOWN CENTRAL SCHOOL DISTRICT,2018,73,2,2,0,105,3,502,...,422,12,0.0,0.0,3.0,0.0,4.0,0.0,0.0,0.0
16551,662402060001,YORKTOWN HIGH SCHOOL,2018,7,1,0,0,34,3,133,...,156,13,0.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0
16552,662402060002,MILDRED E STRANG MIDDLE SCHOOL,2018,11,1,2,0,27,3,131,...,94,12,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
16553,662402060003,BROOKSIDE SCHOOL,2018,25,6,0,0,13,3,70,...,67,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16554,662402060004,CROMPOND SCHOOL,2018,5,1,0,0,17,3,82,...,61,12,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
16555,671002040000,WYOMING CENTRAL SCHOOL DISTRICT,2018,0,0,1,1,1,1,1,...,57,50,0.0,0.0,5.0,4.0,0.0,0.0,0.0,0.0
16556,671002040001,WYOMING CENTRAL SCHOOL,2018,0,0,1,1,1,1,1,...,57,50,0.0,0.0,5.0,4.0,0.0,0.0,0.0,0.0
16557,671201060000,PERRY CENTRAL SCHOOL DISTRICT,2018,11,1,0,0,0,0,39,...,402,52,3.0,0.0,12.0,2.0,2.0,0.0,0.0,0.0
16558,671201060001,PERRY ELEMENTARY SCHOOL,2018,7,2,0,0,0,0,27,...,211,52,2.0,0.0,9.0,2.0,1.0,0.0,0.0,0.0
16559,671201060002,PERRY JUNIOR-SENIOR HIGH SCHOOL,2018,4,1,0,0,0,0,12,...,191,53,1.0,0.0,3.0,1.0,1.0,0.0,0.0,0.0
16560,671501040000,WARSAW CENTRAL SCHOOL DISTRICT,2018,10,1,1,0,2,0,20,...,418,49,6.0,1.0,3.0,0.0,4.0,0.0,0.0,0.0
16561,671501040001,WARSAW ELEMENTARY SCHOOL,2018,5,1,1,0,2,1,15,...,193,53,2.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0
16562,671501040002,WARSAW MIDDLE/SENIOR HIGH SCHOOL,2018,5,1,0,0,0,0,5,...,225,46,4.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0
16563,680601060000,PENN YAN CENTRAL SCHOOL DISTRICT,2018,11,1,2,0,4,0,51,...,796,59,2.0,0.0,34.0,3.0,1.0,0.0,1.0,0.0
16564,680601060001,PENN YAN ACADEMY,2018,3,1,1,0,2,0,18,...,251,57,0.0,0.0,15.0,3.0,0.0,0.0,0.0,0.0
16565,680601060002,PENN YAN MIDDLE SCHOOL,2018,0,0,1,0,1,0,12,...,164,55,0.0,0.0,5.0,2.0,0.0,0.0,0.0,0.0
16566,680601060005,PENN YAN ELEMENTARY SCHOOL,2018,8,1,0,0,1,0,21,...,381,63,2.0,0.0,14.0,2.0,1.0,0.0,1.0,0.0
16567,680801040000,DUNDEE CENTRAL SCHOOL DISTRICT,2018,0,0,1,0,3,0,18,...,414,65,0.0,0.0,12.0,2.0,0.0,0.0,0.0,0.0
16568,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2018,0,0,0,0,2,1,5,...,185,63,0.0,0.0,8.0,3.0,0.0,0.0,0.0,0.0
16569,680801040002,DUNDEE ELEMENTARY SCHOOL,2018,0,0,1,0,1,0,13,...,229,68,0.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0

In [216]:
lunch_df.head()

,entity_cd,entity_name,year,num_free_lunch,per_free_lunch,num_reduced_lunch,per_reduced_lunch
0,1,NYC Public Schools,2018,670164,72,37424,4
1,2,Large Cities,2018,81038,79,1004,1
2,3,High Need/Resource Urban-Suburban Districts,2018,141728,69,8723,4
3,4,High Need/Resource Rural Districts,2018,72007,51,9301,7
4,5,Average Need Districts,2018,241901,33,35802,5

In [217]:
ins_df.head()

   group_code             group_name     entity_cd         entity_name
0           1           Total Public  111111111111  All Public Schools
1           2  County Public Schools       1000000       ALBANY County
2           2  County Public Schools       2000000     ALLEGANY County
3           2  County Public Schools       3000000       BROOME County
4           2  County Public Schools       4000000  CATTARAUGUS County

In [218]:
for a, x in zip(str_list_dfs, list_dfs):
    print (f'Dataframe {a} is {x.shape} in shape')

Dataframe lead_df is (4682, 27) in shape
Dataframe elem_df is (40380, 13) in shape
Dataframe hs_df is (15995, 9) in shape
Dataframe dem_df is (16570, 33) in shape
Dataframe lunch_df is (16570, 7) in shape
Dataframe ins_df is (5522, 4) in shape

lead_df will guide our dataframe set up since it is the limiting factor with the fewest entries. BOCES code will allow us to join the various tables together.

In [219]:
# define function that returns a dataframe with fraction and percent of missing 
# data for each column
def percent_missing (df):
    numer = df.isnull().sum() 
    denom = df.isnull().count()

    data= []
    i = 0
    for x,y in zip(numer,denom):
        data.append([numer.index[i],(Fraction(x,y)), x*100/y])
        i+=1
    
    df1 = pd.DataFrame(data,columns = ['Column_Name', 'Fraction of Missing Data','Percent'])
    return df1

# preview this function in action with our defined dataframe
percent_missing(lead_df)

                               Column_Name Fraction of Missing Data   Percent
0                          school_district                        0  0.000000
1                                   school                        0  0.000000
2                                   county                        0  0.000000
3                     type_of_organization                        0  0.000000
4                        number_of_outlets                  19/2341  0.811619
5   any_buildings_with_lead-free_plumbing?                        0  0.000000
6               previously_sampled_outlets                  19/2341  0.811619
7                 outlets_waiver_requested                  19/2341  0.811619
8                          waivers_granted                  19/2341  0.811619
9         outlets_sampled_after_regulation                  19/2341  0.811619
10                       sampling_complete                        0  0.000000
11                sampling_completion_date                  23/2341  0.982486
12      number_of_outlets,_result_≤_15_ppb                  34/2341  1.452371
13      number_of_outlets,_result_>_15_ppb                  37/2341  1.580521
14                          out_of_service                        0  0.000000
15                    all_results_received                        0  0.000000
16               date_all_results_received                  81/4682  1.730030
17                          school_website                  19/2341  0.811619
18                               beds_code                        0  0.000000
19                           school_street                   8/2341  0.341734
20                             school_city                   8/2341  0.341734
21                            school_state                   8/2341  0.341734
22                         school_zip_code                   9/2341  0.384451
23                   date_sampling_updated                  19/2341  0.811619
24                    date_results_updated                  67/4682  1.431012
25                         county_location                        0  0.000000
26                                location                        0  0.000000

In [220]:
# use above function to return dataframe containing only columns that have some missing data
def missing_data (df):
    missingdf = percent_missing(df)
    missingdf1 = missingdf[missingdf['Fraction of Missing Data'] > 0]
    print(f'{missingdf1.shape[0]} out of {missingdf.shape[0]} columns have missing data')
    return missingdf1

missing_data(lead_df)

16 out of 27 columns have missing data

                           Column_Name Fraction of Missing Data   Percent
4                    number_of_outlets                  19/2341  0.811619
6           previously_sampled_outlets                  19/2341  0.811619
7             outlets_waiver_requested                  19/2341  0.811619
8                      waivers_granted                  19/2341  0.811619
9     outlets_sampled_after_regulation                  19/2341  0.811619
11            sampling_completion_date                  23/2341  0.982486
12  number_of_outlets,_result_≤_15_ppb                  34/2341  1.452371
13  number_of_outlets,_result_>_15_ppb                  37/2341  1.580521
16           date_all_results_received                  81/4682  1.730030
17                      school_website                  19/2341  0.811619
19                       school_street                   8/2341  0.341734
20                         school_city                   8/2341  0.341734
21                        school_state                   8/2341  0.341734
22                     school_zip_code                   9/2341  0.384451
23               date_sampling_updated                  19/2341  0.811619
24                date_results_updated                  67/4682  1.431012

In [221]:
def num_col (df):
    numeric_columns = df.select_dtypes(['int64','float64']).columns
    print(f"The number of numerical columns is {len(numeric_columns)}")
    return numeric_columns

def non_num_col (df):
    non_numeric_columns = df.select_dtypes(['object']).columns
    print(f"The number of non-numerical columns is {len(non_numeric_columns)}")
    return non_numeric_columns

In [222]:
numeric_columns = num_col(lead_df)

The number of numerical columns is 7

In [223]:
non_numeric_columns = non_num_col(lead_df)

The number of non-numerical columns is 20

In [224]:
lead_df.columns

Index(['school_district', 'school', 'county', 'type_of_organization',
       'number_of_outlets', 'any_buildings_with_lead-free_plumbing?',
       'previously_sampled_outlets', 'outlets_waiver_requested',
       'waivers_granted', 'outlets_sampled_after_regulation',
       'sampling_complete', 'sampling_completion_date',
       'number_of_outlets,_result_≤_15_ppb',
       'number_of_outlets,_result_>_15_ppb', 'out_of_service',
       'all_results_received', 'date_all_results_received', 'school_website',
       'beds_code', 'school_street', 'school_city', 'school_state',
       'school_zip_code', 'date_sampling_updated', 'date_results_updated',
       'county_location', 'location'],
      dtype='object')

In [225]:
minilead_df = lead_df[[
    'beds_code',
    'school_district',
    'school',
    'county',
    'school_city',
    'school_zip_code',
    'number_of_outlets,_result_≤_15_ppb',
    'number_of_outlets,_result_>_15_ppb',
    'any_buildings_with_lead-free_plumbing?']]

In [226]:
minilead_df

,beds_code,school_district,school,county,school_city,school_zip_code,"number_of_outlets,_result_≤_15_ppb","number_of_outlets,_result_>_15_ppb",any_buildings_with_lead-free_plumbing?
0,599000000000,BOCES No District Name,SULLIVAN BOCES,Sullivan,LIBERTY,12754,NaN,NaN,No
1,649000000006,BOCES No District Name,WSWHE BOCES MEYERS EDUCATIONAL CENTER MAIN BUI...,Washington,SARATOGA SPRINGS,12866,147.0,48.0,No
2,141601060007,HAMBURG CENTRAL SCHOOL,HAMBURG SHS,Erie,HAMBURG,14075,98.0,6.0,No
3,650501040001,LYONS CENTRAL SCHOOL,LYONS ELEMENTARY SCHOOL,Wayne,LYONS,14489,27.0,2.0,No
4,450801060002,MEDINA CENTRAL SCHOOL,OAK ORCHARD SCHOOL,Orleans,MEDINA,14103,110.0,5.0,No
5,411501060004,NEW HARTFORD CENTRAL SCHOOL,BRADLEY ELEMENTARY SCHOOL,Oneida,NEW HARTFORD,13413,97.0,0.0,No
6,141101060002,SPRINGVILLE-GRIFF INST CENTRAL SCHOOL,COLDEN ES,Erie,COLDEN,14033,55.0,6.0,No
7,200901040001,WELLS CENTRAL SCHOOL,WELLS SCHOOL,Hamilton,WELLS,12190,44.0,11.0,No
8,X085,NYC DOE,X085,Bronx,Bronx,10458,78.0,0.0,No
9,600301040002,CANDOR CENTRAL SCHOOL,CANDOR J S H S,Tioga,CANDOR,13743,116.0,0.0,No
10,060800010007,DUNKIRK CITY SCHOOL DISTRICT,SCHOOL 7,Chautauqua,DUNKIRK,14048,28.0,1.0,No
11,131601060015,ARLINGTON CENTRAL SCHOOL DISTRICT,UNION VALE MIDDLE SCHOOL,Dutchess,LAGRANGEVILLE,12540,150.0,45.0,No
12,X067,NYC DOE,X967,Bronx,Bronx,10460,4.0,0.0,No
13,"M157,M341,M481",NYC DOE,M501,New York,Manhattan,10035,101.0,0.0,No
14,660203060007,HENDRICK HUDSON CENTRAL SCHOOL,BLUE MOUNTAIN MIDDLE SCHOOL,Westchester,CORTLANDT MANOR,10567,31.0,2.0,No
15,580212060001,LONGWOOD CENTRAL SCHOOL DISTRICT,C E WALTERS SCHOOL,Suffolk,YAPHANK,11980,202.0,1.0,No
16,590501060003,FALLSBURGH CENTRAL SCHOOL,BENJAMIN COSOR ELEM SCHOOL,Sullivan,FALLSBURGH,12733,117.0,2.0,No
17,No School,NYC DOE,K813,Kings,Brooklyn,11238,14.0,0.0,No
18,K768,NYC DOE,K664,Kings,Brooklyn,11220,47.0,0.0,No
19,261600010044,ROCHESTER CITY SCHOOLS,SCHOOL 44 LINCOLN PARK,Monroe,ROCHESTER,14611,41.0,2.0,No
20,060201060006,SOUTH WESTERN CENTRAL SCHALMONT-JAMESTOWN SCHO...,SOUTHWESTERN MS,Chautauqua,JAMESTOWN,14701,49.0,10.0,No
21,670401040002,LETCHWORTH CENT SCH AT GAINESVILLE,LETCHWORTH ES,Wyoming,GAINESVILLE,14427,33.0,7.0,No
22,660101030006,KATONAH LEWISBORO U F S,MEADOW POND ELEM SCHOOL,Westchester,SOUTH SALEM,10590,44.0,0.0,No
23,600801040001,SPENCER VAN ETTEN CENTRAL SCHOOL,SPENCER VAN ETTEN MIDDLE SCHOOL,Tioga,SPENCER,14883,81.0,2.0,No
24,K325,NYC DOE,K260,Kings,Brooklyn,11207,108.0,0.0,No
25,580507060011,CONNETQUOT CENT SCH OF ISLIP,OAKDALE-BOHEMIA RD MIDDLE SCHOOL,Suffolk,OAKDALE,11769,47.0,0.0,No
26,420701060002,WESTHILL CENTRAL SCHOOL,CHERRY ROAD ELEM SCHOOL,Onondaga,SYRACUSE,13219,95.0,9.0,No
27,440102060003,WASHINGTONVILLE CENTRAL SCHOOL,WASHINGTONVILLE S H S,Orange,WASHINGTONVILLE,10992,122.0,149.0,No
28,580205060002,SACHEM CENT SCH AT HOLBROOK,GRUNDY AVENUE SCHOOL,Suffolk,HOLBROOK,11741,50.0,0.0,No
29,661100010002,NEW ROCHELLE CITY SCHOOLS,COLUMBUS ELEM SCHOOL,Westchester,NEW ROCHELLE,10801,95.0,8.0,No
...,...,...,...,...,...,...,...,...,...
4652,140600010019,BUFFALO CITY SCHOOLS,PS 19 NATIVE AMERICAN MAGNET SCHOOL,Erie,BUFFALO,14213,46.0,3.0,No
4653,061700010009,JAMESTOWN CITY SCHOOL DISTRICT,SAMUEL G. LOVE ES,Chautauqua,JAMESTOWN,14701,70.0,1.0,No
4654,M265,NYC DOE,M387,New York,Manhattan,10040,59.0,0.0,No
4655,"K404,K422,K053",NYC DOE,K422,Kings,Brooklyn,11208,157.0,0.0,No
4656,510101040001,BRASHER FALLS CENT SCH DIST,ST LAWRENCE MIDDLE SCHOOL,Saint Lawrence,BRASHER FALLS,13613,20.0,0.0,No
4657,440401060009,PINE BUSH CENTRAL SCHOOL,PINE BUSH ELEMENTARY SCHOOL,Orange,PINE BUSH,12566,111.0,1.0,No
4658,619000000011,BOCES No District Name,TOMPKINS-SENECA-TIOGA BOCES BUILDING D REGIONA...,Tompkins,ITHACA,14850,18.0,0.0,No
4659,220101040004,SOUTH JEFFERSON CENTRAL SCHOOL,MANNSVILLE MANOR ELEM SCHOOL,Jefferson,ADAMS,13605,146.0,1.0,No
4660,120701040001,FRANKLIN CENTRAL SCHOOL DISTRICT,FRANKLIN CENTRAL SCHOOL,Delaware,FRANKLIN,13775,36.0,11.0,No
4661,489000000004,BOCES No District Name,PUTNAM-NORTHERN WESTCHESTER BOCES - Pines Brid...,Putnam,Yorktown Heights,10598,NaN,NaN,No
4662,Q081,NYC DOE,Q081,Queens,Queens,11385,73.0,0.0,No
4663,101001040006,CHATHAM CENTRAL SCHOOL DISTRICT,CHATHAM MS,Columbia,CHATHAM,12037,85.0,0.0,No
4664,049000000003,BOCES No District Name,CATTARAUGUS-ALLEGANY-ERIE-WYOMING BOCES HAYNES...,Cattaraugus,BELMONT,14813,NaN,NaN,No
4665,151001040001,NEWCOMB CENTRAL SCHOOL,NEWCOMB CENTRAL SCHOOL,Essex,NEWCOMB,NY,48.0,3.0,No
4666,"M194,M709",NYC DOE,M194,New York,Manhattan,10030,45.0,0.0,No
4667,"M397,M094",NYC DOE,M971,New York,Manhattan,10038,141.0,0.0,No
4668,280211030004,OCEANSIDE UNION FREE SCHOOL,SCHOOL 4,Nassau,OCEANSIDE,11572,21.0,0.0,No
4669,610301060001,DRYDEN CENTRAL SCHOOL,DRYDEN ELEMENTARY SCHOOL,Tompkins,DRYDEN,13053,114.0,0.0,No
4670,062901040004,WESTFIELD CENTRAL SCHOOL DISTRICT,WESTFIELD MS,Chautauqua,WESTFIELD,14787,20.0,3.0,No
4671,"X045,X046",NYC DOE,X045,Bronx,Bronx,10458,116.0,0.0,No
4672,240101040003,AVON CENTRAL SCHOOL DISTRICT,AVON MIDDLE SCHOOL,Livingston,AVON,14414,16.0,0.0,No
4673,151501060007,TICONDEROGA CENTRAL SCHOOL,TICONDEROGA MIDDLE SCHOOL,Essex,TICONDEROGA,12883,34.0,6.0,No
4674,"K267,K648,K649",NYC DOE,K324,Kings,Brooklyn,11221,65.0,0.0,No
4675,521800010012,SARATOGA SPRINGS CITY SCHOOLS,LAKE AVENUE SCHOOL,Saratoga,SARATOGA SPRINGS,12866,93.0,9.0,No
4676,660409020001,ELMSFORD UNION FREE SCHOOL,CARL L DIXSON ELEM SCHOOL,Westchester,ELMSFORD,10523,10.0,0.0,No
4677,130801060002,HYDE PARK CENTRAL SCHOOL DISTRICT,NETHERWOOD SCHOOL,Dutchess,HYDE PARK,12538,68.0,13.0,No
4678,280405020004,NEW HYDE PK-GARDEN CITY PK UFSD,MANOR OAKS WM BOWIE SCH,Nassau,NEW HYDE PARK,11040,13.0,0.0,No
4679,580224030011,PATCHOGUE-MEDFORD U F SCH,SAXTON STREET MIDDLE SCHOOL,Suffolk,PATCHOGUE,11772,37.0,0.0,No
4680,580912060001,EASTPORT SOUTH MANOR CENTRAL SCHOOL,EASTPORT SOUTH MANOR CENTRAL JR SHS,Suffolk,MANORVILLE,11949,60.0,0.0,No
4681,K207,NYC DOE,K207,Kings,Brooklyn,11234,59.0,0.0,No

## 4. Feature Engineering

In [227]:
# we want to merge beds_code from minilead_df with entity_cd from the other tables
# let's check the type of entry for these columns

minilead_df.dtypes

beds_code                                  object
school_district                            object
school                                     object
county                                     object
school_city                                object
school_zip_code                            object
number_of_outlets,_result_≤_15_ppb        float64
number_of_outlets,_result_>_15_ppb        float64
any_buildings_with_lead-free_plumbing?     object
dtype: object

In [228]:
minilead_df

,beds_code,school_district,school,county,school_city,school_zip_code,"number_of_outlets,_result_≤_15_ppb","number_of_outlets,_result_>_15_ppb",any_buildings_with_lead-free_plumbing?
0,599000000000,BOCES No District Name,SULLIVAN BOCES,Sullivan,LIBERTY,12754,NaN,NaN,No
1,649000000006,BOCES No District Name,WSWHE BOCES MEYERS EDUCATIONAL CENTER MAIN BUI...,Washington,SARATOGA SPRINGS,12866,147.0,48.0,No
2,141601060007,HAMBURG CENTRAL SCHOOL,HAMBURG SHS,Erie,HAMBURG,14075,98.0,6.0,No
3,650501040001,LYONS CENTRAL SCHOOL,LYONS ELEMENTARY SCHOOL,Wayne,LYONS,14489,27.0,2.0,No
4,450801060002,MEDINA CENTRAL SCHOOL,OAK ORCHARD SCHOOL,Orleans,MEDINA,14103,110.0,5.0,No
5,411501060004,NEW HARTFORD CENTRAL SCHOOL,BRADLEY ELEMENTARY SCHOOL,Oneida,NEW HARTFORD,13413,97.0,0.0,No
6,141101060002,SPRINGVILLE-GRIFF INST CENTRAL SCHOOL,COLDEN ES,Erie,COLDEN,14033,55.0,6.0,No
7,200901040001,WELLS CENTRAL SCHOOL,WELLS SCHOOL,Hamilton,WELLS,12190,44.0,11.0,No
8,X085,NYC DOE,X085,Bronx,Bronx,10458,78.0,0.0,No
9,600301040002,CANDOR CENTRAL SCHOOL,CANDOR J S H S,Tioga,CANDOR,13743,116.0,0.0,No
10,060800010007,DUNKIRK CITY SCHOOL DISTRICT,SCHOOL 7,Chautauqua,DUNKIRK,14048,28.0,1.0,No
11,131601060015,ARLINGTON CENTRAL SCHOOL DISTRICT,UNION VALE MIDDLE SCHOOL,Dutchess,LAGRANGEVILLE,12540,150.0,45.0,No
12,X067,NYC DOE,X967,Bronx,Bronx,10460,4.0,0.0,No
13,"M157,M341,M481",NYC DOE,M501,New York,Manhattan,10035,101.0,0.0,No
14,660203060007,HENDRICK HUDSON CENTRAL SCHOOL,BLUE MOUNTAIN MIDDLE SCHOOL,Westchester,CORTLANDT MANOR,10567,31.0,2.0,No
15,580212060001,LONGWOOD CENTRAL SCHOOL DISTRICT,C E WALTERS SCHOOL,Suffolk,YAPHANK,11980,202.0,1.0,No
16,590501060003,FALLSBURGH CENTRAL SCHOOL,BENJAMIN COSOR ELEM SCHOOL,Sullivan,FALLSBURGH,12733,117.0,2.0,No
17,No School,NYC DOE,K813,Kings,Brooklyn,11238,14.0,0.0,No
18,K768,NYC DOE,K664,Kings,Brooklyn,11220,47.0,0.0,No
19,261600010044,ROCHESTER CITY SCHOOLS,SCHOOL 44 LINCOLN PARK,Monroe,ROCHESTER,14611,41.0,2.0,No
20,060201060006,SOUTH WESTERN CENTRAL SCHALMONT-JAMESTOWN SCHO...,SOUTHWESTERN MS,Chautauqua,JAMESTOWN,14701,49.0,10.0,No
21,670401040002,LETCHWORTH CENT SCH AT GAINESVILLE,LETCHWORTH ES,Wyoming,GAINESVILLE,14427,33.0,7.0,No
22,660101030006,KATONAH LEWISBORO U F S,MEADOW POND ELEM SCHOOL,Westchester,SOUTH SALEM,10590,44.0,0.0,No
23,600801040001,SPENCER VAN ETTEN CENTRAL SCHOOL,SPENCER VAN ETTEN MIDDLE SCHOOL,Tioga,SPENCER,14883,81.0,2.0,No
24,K325,NYC DOE,K260,Kings,Brooklyn,11207,108.0,0.0,No
25,580507060011,CONNETQUOT CENT SCH OF ISLIP,OAKDALE-BOHEMIA RD MIDDLE SCHOOL,Suffolk,OAKDALE,11769,47.0,0.0,No
26,420701060002,WESTHILL CENTRAL SCHOOL,CHERRY ROAD ELEM SCHOOL,Onondaga,SYRACUSE,13219,95.0,9.0,No
27,440102060003,WASHINGTONVILLE CENTRAL SCHOOL,WASHINGTONVILLE S H S,Orange,WASHINGTONVILLE,10992,122.0,149.0,No
28,580205060002,SACHEM CENT SCH AT HOLBROOK,GRUNDY AVENUE SCHOOL,Suffolk,HOLBROOK,11741,50.0,0.0,No
29,661100010002,NEW ROCHELLE CITY SCHOOLS,COLUMBUS ELEM SCHOOL,Westchester,NEW ROCHELLE,10801,95.0,8.0,No
...,...,...,...,...,...,...,...,...,...
4652,140600010019,BUFFALO CITY SCHOOLS,PS 19 NATIVE AMERICAN MAGNET SCHOOL,Erie,BUFFALO,14213,46.0,3.0,No
4653,061700010009,JAMESTOWN CITY SCHOOL DISTRICT,SAMUEL G. LOVE ES,Chautauqua,JAMESTOWN,14701,70.0,1.0,No
4654,M265,NYC DOE,M387,New York,Manhattan,10040,59.0,0.0,No
4655,"K404,K422,K053",NYC DOE,K422,Kings,Brooklyn,11208,157.0,0.0,No
4656,510101040001,BRASHER FALLS CENT SCH DIST,ST LAWRENCE MIDDLE SCHOOL,Saint Lawrence,BRASHER FALLS,13613,20.0,0.0,No
4657,440401060009,PINE BUSH CENTRAL SCHOOL,PINE BUSH ELEMENTARY SCHOOL,Orange,PINE BUSH,12566,111.0,1.0,No
4658,619000000011,BOCES No District Name,TOMPKINS-SENECA-TIOGA BOCES BUILDING D REGIONA...,Tompkins,ITHACA,14850,18.0,0.0,No
4659,220101040004,SOUTH JEFFERSON CENTRAL SCHOOL,MANNSVILLE MANOR ELEM SCHOOL,Jefferson,ADAMS,13605,146.0,1.0,No
4660,120701040001,FRANKLIN CENTRAL SCHOOL DISTRICT,FRANKLIN CENTRAL SCHOOL,Delaware,FRANKLIN,13775,36.0,11.0,No
4661,489000000004,BOCES No District Name,PUTNAM-NORTHERN WESTCHESTER BOCES - Pines Brid...,Putnam,Yorktown Heights,10598,NaN,NaN,No
4662,Q081,NYC DOE,Q081,Queens,Queens,11385,73.0,0.0,No
4663,101001040006,CHATHAM CENTRAL SCHOOL DISTRICT,CHATHAM MS,Columbia,CHATHAM,12037,85.0,0.0,No
4664,049000000003,BOCES No District Name,CATTARAUGUS-ALLEGANY-ERIE-WYOMING BOCES HAYNES...,Cattaraugus,BELMONT,14813,NaN,NaN,No
4665,151001040001,NEWCOMB CENTRAL SCHOOL,NEWCOMB CENTRAL SCHOOL,Essex,NEWCOMB,NY,48.0,3.0,No
4666,"M194,M709",NYC DOE,M194,New York,Manhattan,10030,45.0,0.0,No
4667,"M397,M094",NYC DOE,M971,New York,Manhattan,10038,141.0,0.0,No
4668,280211030004,OCEANSIDE UNION FREE SCHOOL,SCHOOL 4,Nassau,OCEANSIDE,11572,21.0,0.0,No
4669,610301060001,DRYDEN CENTRAL SCHOOL,DRYDEN ELEMENTARY SCHOOL,Tompkins,DRYDEN,13053,114.0,0.0,No
4670,062901040004,WESTFIELD CENTRAL SCHOOL DISTRICT,WESTFIELD MS,Chautauqua,WESTFIELD,14787,20.0,3.0,No
4671,"X045,X046",NYC DOE,X045,Bronx,Bronx,10458,116.0,0.0,No
4672,240101040003,AVON CENTRAL SCHOOL DISTRICT,AVON MIDDLE SCHOOL,Livingston,AVON,14414,16.0,0.0,No
4673,151501060007,TICONDEROGA CENTRAL SCHOOL,TICONDEROGA MIDDLE SCHOOL,Essex,TICONDEROGA,12883,34.0,6.0,No
4674,"K267,K648,K649",NYC DOE,K324,Kings,Brooklyn,11221,65.0,0.0,No
4675,521800010012,SARATOGA SPRINGS CITY SCHOOLS,LAKE AVENUE SCHOOL,Saratoga,SARATOGA SPRINGS,12866,93.0,9.0,No
4676,660409020001,ELMSFORD UNION FREE SCHOOL,CARL L DIXSON ELEM SCHOOL,Westchester,ELMSFORD,10523,10.0,0.0,No
4677,130801060002,HYDE PARK CENTRAL SCHOOL DISTRICT,NETHERWOOD SCHOOL,Dutchess,HYDE PARK,12538,68.0,13.0,No
4678,280405020004,NEW HYDE PK-GARDEN CITY PK UFSD,MANOR OAKS WM BOWIE SCH,Nassau,NEW HYDE PARK,11040,13.0,0.0,No
4679,580224030011,PATCHOGUE-MEDFORD U F SCH,SAXTON STREET MIDDLE SCHOOL,Suffolk,PATCHOGUE,11772,37.0,0.0,No
4680,580912060001,EASTPORT SOUTH MANOR CENTRAL SCHOOL,EASTPORT SOUTH MANOR CENTRAL JR SHS,Suffolk,MANORVILLE,11949,60.0,0.0,No
4681,K207,NYC DOE,K207,Kings,Brooklyn,11234,59.0,0.0,No

In [229]:
# check entity_cd type in dem_df
dem_df.dtypes

entity_cd         int64
entity_name      object
year              int64
num_ell           int64
per_ell           int64
num_am_ind        int64
per_am_ind        int64
num_black         int64
per_black         int64
num_hisp          int64
per_hisp          int64
num_asian         int64
per_asian         int64
num_white         int64
per_white         int64
num_multi         int64
per_multi         int64
num_swd           int64
per_swd           int64
num_female        int64
per_female        int64
num_male          int64
per_male          int64
num_ecdis         int64
per_ecdis         int64
num_migrant     float64
per_migrant     float64
num_homeless    float64
per_homeless    float64
num_foster      float64
per_foster      float64
num_armed       float64
per_armed       float64
dtype: object

In [230]:
# to merge, we need these columns to be the same type. It's easier to make the integers 
# into strings since our beds_code has some strings that aren't strictly numbers.

dem_df1 = dem_df.copy()
dem_df1 = dem_df1[dem_df1['year'] == 2018]
dem_df1['entity_cd'] = dem_df1['entity_cd'].apply(str)

In [231]:
# let's verify the change
dem_df1.dtypes

entity_cd        object
entity_name      object
year              int64
num_ell           int64
per_ell           int64
num_am_ind        int64
per_am_ind        int64
num_black         int64
per_black         int64
num_hisp          int64
per_hisp          int64
num_asian         int64
per_asian         int64
num_white         int64
per_white         int64
num_multi         int64
per_multi         int64
num_swd           int64
per_swd           int64
num_female        int64
per_female        int64
num_male          int64
per_male          int64
num_ecdis         int64
per_ecdis         int64
num_migrant     float64
per_migrant     float64
num_homeless    float64
per_homeless    float64
num_foster      float64
per_foster      float64
num_armed       float64
per_armed       float64
dtype: object

In [232]:
# verify how the dataframe looks
dem_df1

,entity_cd,entity_name,year,num_ell,per_ell,num_am_ind,per_am_ind,num_black,per_black,num_hisp,...,num_ecdis,per_ecdis,num_migrant,per_migrant,num_homeless,per_homeless,num_foster,per_foster,num_armed,per_armed
11055,1,NYC Public Schools,2018,142556,15,9994,1,214312,23,383293,...,707879,76,0.0,0.0,88268.0,9.0,0.0,0.0,440.0,0.0
11056,2,Large Cities,2018,16421,16,540,1,43641,43,30892,...,86527,85,78.0,0.0,3693.0,4.0,65.0,0.0,7.0,0.0
11057,3,High Need/Resource Urban-Suburban Districts,2018,34135,17,622,0,49593,24,83512,...,160517,78,178.0,0.0,9643.0,5.0,473.0,0.0,564.0,0.0
11058,4,High Need/Resource Rural Districts,2018,1944,1,2333,2,4617,3,10357,...,86074,61,715.0,1.0,2733.0,2.0,472.0,0.0,3770.0,3.0
11059,480101060000,MAHOPAC CENTRAL SCHOOL DISTRICT,2018,134,3,3,0,68,2,785,...,745,18,0.0,0.0,21.0,1.0,0.0,0.0,0.0,0.0
11060,480101060001,MAHOPAC HIGH SCHOOL,2018,23,2,1,0,26,2,236,...,234,16,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0
11061,480101060002,AUSTIN ROAD ELEMENTARY SCHOOL,2018,28,5,0,0,12,2,124,...,115,19,0.0,0.0,6.0,1.0,0.0,0.0,0.0,0.0
11062,480101060004,MAHOPAC MIDDLE SCHOOL,2018,19,2,0,0,17,2,181,...,171,18,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
11063,480101060005,LAKEVIEW ELEMENTARY SCHOOL,2018,52,9,1,0,9,2,155,...,146,25,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0
11064,480101060006,FULMAR ROAD ELEMENTARY SCHOOL,2018,12,2,1,0,4,1,89,...,79,16,0.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0
11065,480101060008,MAHOPAC FALLS SCHOOL,2018,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11066,480102060000,CARMEL CENTRAL SCHOOL DISTRICT,2018,137,3,10,0,104,3,1053,...,1373,33,0.0,0.0,10.0,0.0,5.0,0.0,0.0,0.0
11067,480102060001,KENT PRIMARY SCHOOL,2018,33,8,2,1,7,2,168,...,153,39,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11068,662402060005,MOHANSIC SCHOOL,2018,25,5,0,0,14,3,86,...,44,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11069,670201060000,ATTICA CENTRAL SCHOOL DISTRICT,2018,4,0,2,0,5,0,21,...,471,39,1.0,0.0,16.0,1.0,7.0,1.0,0.0,0.0
11070,670201060001,ATTICA SENIOR HIGH SCHOOL,2018,0,0,1,0,2,0,2,...,149,33,0.0,0.0,2.0,0.0,3.0,1.0,0.0,0.0
11071,670201060002,ATTICA ELEMENTARY SCHOOL,2018,3,1,1,0,2,1,7,...,168,44,0.0,0.0,4.0,1.0,3.0,1.0,0.0,0.0
11072,670201060004,ATTICA JUNIOR HIGH SCHOOL,2018,1,0,0,0,1,0,12,...,154,40,1.0,0.0,10.0,3.0,1.0,0.0,0.0,0.0
11073,670401040000,LETCHWORTH CENTRAL SCHOOL DISTRICT,2018,4,0,0,0,6,1,23,...,407,45,1.0,0.0,6.0,1.0,2.0,0.0,0.0,0.0
11074,670401040001,LETCHWORTH SENIOR HIGH SCHOOL,2018,2,1,0,0,0,0,8,...,117,42,0.0,0.0,4.0,1.0,1.0,0.0,0.0,0.0
11075,670401040002,LETCHWORTH ELEMENTARY SCHOOL,2018,1,0,0,0,2,1,11,...,161,47,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11076,670401040003,LETCHWORTH MIDDLE SCHOOL,2018,1,0,0,0,4,1,4,...,129,47,0.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0
11077,5,Average Need Districts,2018,27221,4,2815,0,46534,6,107268,...,300096,41,703.0,0.0,9623.0,1.0,1381.0,0.0,1121.0,0.0
11078,6,Low Need Districts,2018,11727,3,533,0,14268,4,44664,...,58721,16,75.0,0.0,1435.0,0.0,129.0,0.0,106.0,0.0
11079,7,Charter Schools,2018,9319,7,1268,1,75534,54,48333,...,113819,82,5.0,0.0,10068.0,7.0,53.0,0.0,27.0,0.0
11080,1000000,ALBANY County,2018,1953,5,71,0,8039,21,3495,...,17174,44,21.0,0.0,819.0,2.0,46.0,0.0,31.0,0.0
11081,2000000,ALLEGANY County,2018,6,0,19,0,63,1,94,...,3519,58,0.0,0.0,47.0,1.0,8.0,0.0,2.0,0.0
11082,3000000,BROOME County,2018,531,2,72,0,2349,9,1704,...,14283,56,3.0,0.0,620.0,2.0,42.0,0.0,14.0,0.0
11083,4000000,CATTARAUGUS County,2018,33,0,770,6,204,2,343,...,7125,57,2.0,0.0,131.0,1.0,33.0,0.0,31.0,0.0
11084,5000000,CAYUGA County,2018,52,1,18,0,308,3,369,...,4523,50,22.0,0.0,190.0,2.0,13.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16540,662300860862,CHARTER SCHOOL OF EDUCATIONAL EXCELLENCE,2018,68,10,0,0,302,43,363,...,594,85,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
16541,662401060000,LAKELAND CENTRAL SCHOOL DISTRICT,2018,85,2,10,0,341,6,1149,...,1310,23,0.0,0.0,14.0,0.0,5.0,0.0,0.0,0.0
16542,662401060001,THOMAS JEFFERSON ELEMENTARY SCHOOL,2018,0,0,2,0,13,3,78,...,55,11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16543,662401060003,GEORGE WASHINGTON ELEMENTARY SCHOOL,2018,25,6,1,0,33,8,124,...,139,34,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
16544,662401060004,LINCOLN TITUS ELEMENTARY SCHOOL,2018,0,0,1,0,21,6,82,...,65,18,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
16545,662401060005,VAN CORTLANDTVILLE SCHOOL,2018,23,4,2,0,55,10,176,...,168,30,0.0,0.0,1.0,0.0,3.0,1.0,0.0,0.0
16546,662401060007,LAKELAND HIGH SCHOOL,2018,3,0,0,0,40,4,169,...,226,23,0.0,0.0,5.0,1.0,0.0,0.0,0.0,0.0
16547,662401060008,LAKELAND-COPPER BEECH MIDDLE SCHOOL,2018,14,1,1,0,68,5,249,...,318,24,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
16548,662401060009,BENJAMIN FRANKLIN ELEMENTARY SCHOOL,2018,2,0,3,1,33,6,81,...,106,20,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
16549,662401060010,WALTER PANAS HIGH SCHOOL,2018,18,2,0,0,78,9,190,...,233,26,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
16550,662402060000,YORKTOWN CENTRAL SCHOOL DISTRICT,2018,73,2,2,0,105,3,502,...,422,12,0.0,0.0,3.0,0.0,4.0,0.0,0.0,0.0
16551,662402060001,YORKTOWN HIGH SCHOOL,2018,7,1,0,0,34,3,133,...,156,13,0.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0
16552,662402060002,MILDRED E STRANG MIDDLE SCHOOL,2018,11,1,2,0,27,3,131,...,94,12,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
16553,662402060003,BROOKSIDE SCHOOL,2018,25,6,0,0,13,3,70,...,67,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16554,662402060004,CROMPOND SCHOOL,2018,5,1,0,0,17,3,82,...,61,12,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
16555,671002040000,WYOMING CENTRAL SCHOOL DISTRICT,2018,0,0,1,1,1,1,1,...,57,50,0.0,0.0,5.0,4.0,0.0,0.0,0.0,0.0
16556,671002040001,WYOMING CENTRAL SCHOOL,2018,0,0,1,1,1,1,1,...,57,50,0.0,0.0,5.0,4.0,0.0,0.0,0.0,0.0
16557,671201060000,PERRY CENTRAL SCHOOL DISTRICT,2018,11,1,0,0,0,0,39,...,402,52,3.0,0.0,12.0,2.0,2.0,0.0,0.0,0.0
16558,671201060001,PERRY ELEMENTARY SCHOOL,2018,7,2,0,0,0,0,27,...,211,52,2.0,0.0,9.0,2.0,1.0,0.0,0.0,0.0
16559,671201060002,PERRY JUNIOR-SENIOR HIGH SCHOOL,2018,4,1,0,0,0,0,12,...,191,53,1.0,0.0,3.0,1.0,1.0,0.0,0.0,0.0
16560,671501040000,WARSAW CENTRAL SCHOOL DISTRICT,2018,10,1,1,0,2,0,20,...,418,49,6.0,1.0,3.0,0.0,4.0,0.0,0.0,0.0
16561,671501040001,WARSAW ELEMENTARY SCHOOL,2018,5,1,1,0,2,1,15,...,193,53,2.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0
16562,671501040002,WARSAW MIDDLE/SENIOR HIGH SCHOOL,2018,5,1,0,0,0,0,5,...,225,46,4.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0
16563,680601060000,PENN YAN CENTRAL SCHOOL DISTRICT,2018,11,1,2,0,4,0,51,...,796,59,2.0,0.0,34.0,3.0,1.0,0.0,1.0,0.0
16564,680601060001,PENN YAN ACADEMY,2018,3,1,1,0,2,0,18,...,251,57,0.0,0.0,15.0,3.0,0.0,0.0,0.0,0.0
16565,680601060002,PENN YAN MIDDLE SCHOOL,2018,0,0,1,0,1,0,12,...,164,55,0.0,0.0,5.0,2.0,0.0,0.0,0.0,0.0
16566,680601060005,PENN YAN ELEMENTARY SCHOOL,2018,8,1,0,0,1,0,21,...,381,63,2.0,0.0,14.0,2.0,1.0,0.0,1.0,0.0
16567,680801040000,DUNDEE CENTRAL SCHOOL DISTRICT,2018,0,0,1,0,3,0,18,...,414,65,0.0,0.0,12.0,2.0,0.0,0.0,0.0,0.0
16568,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2018,0,0,0,0,2,1,5,...,185,63,0.0,0.0,8.0,3.0,0.0,0.0,0.0,0.0
16569,680801040002,DUNDEE ELEMENTARY SCHOOL,2018,0,0,1,0,1,0,13,...,229,68,0.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0

In [233]:
# merge minilead_df with dem_df1 on the BOCES code.
comp_df = pd.merge(
    minilead_df, 
    dem_df1, 
    left_on='beds_code', 
    right_on='entity_cd',
    how = 'left')

In [234]:
# let's see how it looks
comp_df

,beds_code,school_district,school,county,school_city,school_zip_code,"number_of_outlets,_result_≤_15_ppb","number_of_outlets,_result_>_15_ppb",any_buildings_with_lead-free_plumbing?,entity_cd,...,num_ecdis,per_ecdis,num_migrant,per_migrant,num_homeless,per_homeless,num_foster,per_foster,num_armed,per_armed
0,599000000000,BOCES No District Name,SULLIVAN BOCES,Sullivan,LIBERTY,12754,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,649000000006,BOCES No District Name,WSWHE BOCES MEYERS EDUCATIONAL CENTER MAIN BUI...,Washington,SARATOGA SPRINGS,12866,147.0,48.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,141601060007,HAMBURG CENTRAL SCHOOL,HAMBURG SHS,Erie,HAMBURG,14075,98.0,6.0,No,141601060007,...,249.0,22.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0
3,650501040001,LYONS CENTRAL SCHOOL,LYONS ELEMENTARY SCHOOL,Wayne,LYONS,14489,27.0,2.0,No,650501040001,...,352.0,70.0,6.0,1.0,23.0,5.0,0.0,0.0,0.0,0.0
4,450801060002,MEDINA CENTRAL SCHOOL,OAK ORCHARD SCHOOL,Orleans,MEDINA,14103,110.0,5.0,No,450801060002,...,268.0,64.0,13.0,3.0,5.0,1.0,6.0,1.0,0.0,0.0
5,411501060004,NEW HARTFORD CENTRAL SCHOOL,BRADLEY ELEMENTARY SCHOOL,Oneida,NEW HARTFORD,13413,97.0,0.0,No,411501060004,...,65.0,14.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6,141101060002,SPRINGVILLE-GRIFF INST CENTRAL SCHOOL,COLDEN ES,Erie,COLDEN,14033,55.0,6.0,No,141101060002,...,68.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,200901040001,WELLS CENTRAL SCHOOL,WELLS SCHOOL,Hamilton,WELLS,12190,44.0,11.0,No,200901040001,...,71.0,51.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,X085,NYC DOE,X085,Bronx,Bronx,10458,78.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,600301040002,CANDOR CENTRAL SCHOOL,CANDOR J S H S,Tioga,CANDOR,13743,116.0,0.0,No,600301040002,...,182.0,52.0,0.0,0.0,2.0,1.0,2.0,1.0,0.0,0.0
10,060800010007,DUNKIRK CITY SCHOOL DISTRICT,SCHOOL 7,Chautauqua,DUNKIRK,14048,28.0,1.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,131601060015,ARLINGTON CENTRAL SCHOOL DISTRICT,UNION VALE MIDDLE SCHOOL,Dutchess,LAGRANGEVILLE,12540,150.0,45.0,No,131601060015,...,189.0,18.0,0.0,0.0,11.0,1.0,3.0,0.0,1.0,0.0
12,X067,NYC DOE,X967,Bronx,Bronx,10460,4.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"M157,M341,M481",NYC DOE,M501,New York,Manhattan,10035,101.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,660203060007,HENDRICK HUDSON CENTRAL SCHOOL,BLUE MOUNTAIN MIDDLE SCHOOL,Westchester,CORTLANDT MANOR,10567,31.0,2.0,No,660203060007,...,167.0,30.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0,0.0
15,580212060001,LONGWOOD CENTRAL SCHOOL DISTRICT,C E WALTERS SCHOOL,Suffolk,YAPHANK,11980,202.0,1.0,No,580212060001,...,423.0,57.0,1.0,0.0,13.0,2.0,0.0,0.0,0.0,0.0
16,590501060003,FALLSBURGH CENTRAL SCHOOL,BENJAMIN COSOR ELEM SCHOOL,Sullivan,FALLSBURGH,12733,117.0,2.0,No,590501060003,...,550.0,73.0,48.0,6.0,50.0,7.0,4.0,1.0,2.0,0.0
17,No School,NYC DOE,K813,Kings,Brooklyn,11238,14.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,K768,NYC DOE,K664,Kings,Brooklyn,11220,47.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,261600010044,ROCHESTER CITY SCHOOLS,SCHOOL 44 LINCOLN PARK,Monroe,ROCHESTER,14611,41.0,2.0,No,261600010044,...,200.0,98.0,0.0,0.0,5.0,2.0,1.0,0.0,0.0,0.0
20,060201060006,SOUTH WESTERN CENTRAL SCHALMONT-JAMESTOWN SCHO...,SOUTHWESTERN MS,Chautauqua,JAMESTOWN,14701,49.0,10.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,670401040002,LETCHWORTH CENT SCH AT GAINESVILLE,LETCHWORTH ES,Wyoming,GAINESVILLE,14427,33.0,7.0,No,670401040002,...,161.0,47.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,660101030006,KATONAH LEWISBORO U F S,MEADOW POND ELEM SCHOOL,Westchester,SOUTH SALEM,10590,44.0,0.0,No,660101030006,...,24.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,600801040001,SPENCER VAN ETTEN CENTRAL SCHOOL,SPENCER VAN ETTEN MIDDLE SCHOOL,Tioga,SPENCER,14883,81.0,2.0,No,600801040001,...,166.0,58.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
24,K325,NYC DOE,K260,Kings,Brooklyn,11207,108.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,580507060011,CONNETQUOT CENT SCH OF ISLIP,OAKDALE-BOHEMIA RD MIDDLE SCHOOL,Suffolk,OAKDALE,11769,47.0,0.0,No,580507060011,...,130.0,20.0,0.0,0.0,11.0,2.0,1.0,0.0,0.0,0.0
26,420701060002,WESTHILL CENTRAL SCHOOL,CHERRY ROAD ELEM SCHOOL,Onondaga,SYRACUSE,13219,95.0,9.0,No,420701060002,...,90.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,440102060003,WASHINGTONVILLE CENTRAL SCHOOL,WASHINGTONVILLE S H S,Orange,WASHINGTONVILLE,10992,122.0,149.0,No,440102060003,...,338.0,24.0,1.0,0.0,26.0,2.0,0.0,0.0,17.0,1.0
28,580205060002,SACHEM CENT SCH AT HOLBROOK,GRUNDY AVENUE SCHOOL,Suffolk,HOLBROOK,11741,50.0,0.0,No,580205060002,...,108.0,21.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0
29,661100010002,NEW ROCHELLE CITY SCHOOLS,COLUMBUS ELEM SCHOOL,Westchester,NEW ROCHELLE,10801,95.0,8.0,No,661100010002,...,632.0,79.0,0.0,0.0,8.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4652,140600010019,BUFFALO CITY SCHOOLS,PS 19 NATIVE AMERICAN MAGNET SCHOOL,Erie,BUFFALO,14213,46.0,3.0,No,140600010019,...,424.0,93.0,0.0,0.0,16.0,4.0,0.0,0.0,0.0,0.0
4653,061700010009,JAMESTOWN CITY SCHOOL DISTRICT,SAMUEL G. LOVE ES,Chautauqua,JAMESTOWN,14701,70.0,1.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4654,M265,NYC DOE,M387,New York,Manhattan,10040,59.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4655,"K404,K422,K053",NYC DOE,K422,Kings,Brooklyn,11208,157.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4656,510101040001,BRASHER FALLS CENT SCH DIST,ST LAWRENCE MIDDLE SCHOOL,Saint Lawrence,BRASHER FALLS,13613,20.0,0.0,No,510101040001,...,164.0,56.0,3.0,1.0,23.0,8.0,0.0,0.0,1.0,0.0
4657,440401060009,PINE BUSH CENTRAL SCHOOL,PINE BUSH ELEMENTARY SCHOOL,Orange,PINE BUSH,12566,111.0,1.0,No,440401060009,...,291.0,46.0,1.0,0.0,6.0,1.0,0.0,0.0,0.0,0.0
4658,619000000011,BOCES No District Name,TOMPKINS-SENECA-TIOGA BOCES BUILDING D REGIONA...,Tompkins,ITHACA,14850,18.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4659,220101040004,SOUTH JEFFERSON CENTRAL SCHOOL,MANNSVILLE MANOR ELEM SCHOOL,Jefferson,ADAMS,13605,146.0,1.0,No,220101040004,...,188.0,59.0,6.0,2.0,12.0,4.0,0.0,0.0,1.0,0.0
4660,120701040001,FRANKLIN CENTRAL SCHOOL DISTRICT,FRANKLIN CENTRAL SCHOOL,Delaware,FRANKLIN,13775,36.0,11.0,No,120701040001,...,129.0,51.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4661,489000000004,BOCES No District Name,PUTNAM-NORTHERN WESTCHESTER BOCES - Pines Brid...,Putnam,Yorktown Heights,10598,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4662,Q081,NYC DOE,Q081,Queens,Queens,11385,73.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4663,101001040006,CHATHAM CENTRAL SCHOOL DISTRICT,CHATHAM MS,Columbia,CHATHAM,12037,85.0,0.0,No,101001040006,...,110.0,43.0,1.0,0.0,4.0,2.0,0.0,0.0,0.0,0.0
4664,049000000003,BOCES No District Name,CATTARAUGUS-ALLEGANY-ERIE-WYOMING BOCES HAYNES...,Cattaraugus,BELMONT,14813,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4665,151001040001,NEWCOMB CENTRAL SCHOOL,NEWCOMB CENTRAL SCHOOL,Essex,NEWCOMB,NY,48.0,3.0,No,151001040001,...,34.0,44.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4666,"M194,M709",NYC DOE,M194,New York,Manhattan,10030,45.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4667,"M397,M094",NYC DOE,M971,New York,Manhattan,10038,141.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668,280211030004,OCEANSIDE UNION FREE SCHOOL,SCHOOL 4,Nassau,OCEANSIDE,11572,21.0,0.0,No,280211030004,...,50.0,17.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0
4669,610301060001,DRYDEN CENTRAL SCHOOL,DRYDEN ELEMENTARY SCHOOL,Tompkins,DRYDEN,13053,114.0,0.0,No,610301060001,...,258.0,56.0,0.0,0.0,10.0,2.0,0.0,0.0,0.0,0.0
4670,062901040004,WESTFIELD CENTRAL SCHOOL DISTRICT,WESTFIELD MS,Chautauqua,WESTFIELD,14787,20.0,3.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4671,"X045,X046",NYC DOE,X045,Bronx,Bronx,10458,116.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4672,240101040003,AVON CENTRAL SCHOOL DISTRICT,AVON MIDDLE SCHOOL,Livingston,AVON,14414,16.0,0.0,No,240101040003,...,115.0,36.0,0.0,0.0,6.0,2.0,0.0,0.0,0.0,0.0
4673,151501060007,TICONDEROGA CENTRAL SCHOOL,TICONDEROGA MIDDLE SCHOOL,Essex,TICONDEROGA,12883,34.0,6.0,No,151501060007,...,85.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0
4674,"K267,K648,K649",NYC DOE,K324,Kings,Brooklyn,11221,65.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4675,521800010012,SARATOGA SPRINGS CITY SCHOOLS,LAKE AVENUE SCHOOL,Saratoga,SARATOGA SPRINGS,12866,93.0,9.0,No,521800010012,...,46.0,11.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0
4676,660409020001,ELMSFORD UNION FREE SCHOOL,CARL L DIXSON ELEM SCHOOL,Westchester,ELMSFORD,10523,10.0,0.0,No,660409020001,...,74.0,50.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0
4677,130801060002,HYDE PARK CENTRAL SCHOOL DISTRICT,NETHERWOOD SCHOOL,Dutchess,HYDE PARK,12538,68.0,13.0,No,130801060002,...,131.0,44.0,0.0,0.0,3.0,1.0,1.0,0.0,2.0,1.0
4678,280405020004,NEW HYDE PK-GARDEN CITY PK UFSD,MANOR OAKS WM BOWIE SCH,Nassau,NEW HYDE PARK,11040,13.0,0.0,No,280405020004,...,33.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4679,580224030011,PATCHOGUE-MEDFORD U F SCH,SAXTON STREET MIDDLE SCHOOL,Suffolk,PATCHOGUE,11772,37.0,0.0,No,580224030011,...,400.0,57.0,0.0,0.0,8.0,1.0,0.0,0.0,0.0,0.0
4680,580912060001,EASTPORT SOUTH MANOR CENTRAL SCHOOL,EASTPORT SOUTH MANOR CENTRAL JR SHS,Suffolk,MANORVILLE,11949,60.0,0.0,No,580912060001,...,345.0,19.0,0.0,0.0,22.0,1.0,1.0,0.0,0.0,0.0
4681,K207,NYC DOE,K207,Kings,Brooklyn,11234,59.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [235]:
allelem_df = elem_df[elem_df['subgroup_name']=='All Students']
allelem_df1 = allelem_df.copy()
allelem_df1 = allelem_df1[allelem_df1['year'] == 2018]
allelem_df1['entity_cd'] = allelem_df1['entity_cd'].apply(str)
allelem_df1

,entity_cd,entity_name,year,subject,subgroup_name,core_cohort,core_index,weighted_cohort,weighted_index,composite_level,override,override_weighted,override_core
0,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,All Students,7998,84.9,9112,74.5,1,NaN,NaN,NaN
10,10100010014,MONTESSORI MAGNET SCHOOL,2018,Combined,All Students,263,166.2,307,142.3,3,NaN,NaN,NaN
20,10100010016,PINE HILLS ELEMENTARY SCHOOL,2018,Combined,All Students,403,109.2,403,109.2,2,NaN,NaN,NaN
30,10100010018,DELAWARE COMMUNITY SCHOOL,2018,Combined,All Students,429,81.5,445,78.5,1,NaN,NaN,NaN
40,10100010019,NEW SCOTLAND ELEMENTARY SCHOOL,2018,Combined,All Students,482,129.1,558,111.6,2,NaN,NaN,NaN
50,10100010020,NORTH ALBANY ACADEMY,2018,Combined,All Students,332,41.6,350,39.4,1,NaN,NaN,NaN
59,10100010023,ALBANY SCHOOL OF HUMANITIES,2018,Combined,All Students,581,105.8,607,101.2,2,NaN,NaN,NaN
69,10100010027,EAGLE POINT ELEMENTARY SCHOOL,2018,Combined,All Students,312,99.8,364,85.6,2,NaN,NaN,NaN
79,10100010028,THOMAS S O'BRIEN ACADEMY OF SCIENCE & TECHNOLOGY,2018,Combined,All Students,523,83.3,523,83.3,1,NaN,NaN,NaN
89,10100010029,GIFFEN MEMORIAL ELEMENTARY SCHOOL,2018,Combined,All Students,575,55.1,575,55.1,1,NaN,NaN,NaN
99,10100010030,WILLIAM S HACKETT MIDDLE SCHOOL,2018,Combined,All Students,1207,96.7,1462,79.9,2,NaN,NaN,NaN
109,10100010039,ARBOR HILL ELEMENTARY SCHOOL,2018,Combined,All Students,309,88.7,313,87.5,2,NaN,NaN,NaN
119,10100010043,PHILIP J SCHUYLER ACHIEVEMENT ACADEMY,2018,Combined,All Students,259,71.4,259,71.4,1,NaN,NaN,NaN
129,10100010044,SHERIDAN PREPARATORY ACADEMY,2018,Combined,All Students,374,71.1,376,70.7,1,NaN,NaN,NaN
139,10100010045,STEPHEN AND HARRIET MYERS MIDDLE SCHOOL,2018,Combined,All Students,871,73.4,1464,43.6,1,NaN,NaN,NaN
149,10100010050,EDMUND J O'NEAL MS OF EXCELLENCE,2018,Combined,All Students,867,54.2,921,51,1,NaN,NaN,NaN
159,10100860829,BRIGHTER CHOICE CHARTER SCHOOL FOR BOYS,2018,Combined,All Students,312,142,312,142,3,NaN,NaN,NaN
168,10100860830,BRIGHTER CHOICE CHARTER SCHOOL FOR GIRLS,2018,Combined,All Students,333,140.2,333,140.2,3,NaN,NaN,NaN
177,10100860867,KIPP TECH VALLEY CHARTER SCHOOL,2018,Combined,All Students,542,142.3,542,142.3,3,NaN,NaN,NaN
186,10100860892,HENRY JOHNSON CHARTER SCHOOL,2018,Combined,All Students,287,171.1,316,155.4,4,NaN,NaN,NaN
195,10100860899,ALBANY COMMUNITY CHARTER SCHOOL,2018,Combined,All Students,944,117.6,944,117.6,2,NaN,NaN,NaN
203,10201040000,BERNE-KNOX-WESTERLO CENTRAL SCHOOL DISTRICT,2018,Combined,All Students,754,140.1,769,137.4,3,NaN,NaN,NaN
211,10201040001,BERNE-KNOX-WESTERLO JUNIOR-SENIOR HIGH SCHOOL,2018,Combined,All Students,245,131.8,256,126.2,2,NaN,NaN,NaN
218,10201040002,BERNE-KNOX-WESTERLO ELEMENTARY SCHOOL,2018,Combined,All Students,498,145.6,502,144.4,3,NaN,NaN,NaN
226,10306060000,BETHLEHEM CENTRAL SCHOOL DISTRICT,2018,Combined,All Students,4064,182.6,4536,163.6,4,NaN,NaN,NaN
235,10306060003,ELSMERE ELEMENTARY SCHOOL,2018,Combined,All Students,299,189.6,330,171.8,4,NaN,NaN,NaN
243,10306060004,GLENMONT ELEMENTARY SCHOOL,2018,Combined,All Students,400,191.5,400,191.5,4,NaN,NaN,NaN
258,10306060005,HAMAGRAEL ELEMENTARY SCHOOL,2018,Combined,All Students,328,182.5,349,171.5,4,NaN,NaN,NaN
266,10306060006,SLINGERLANDS ELEMENTARY SCHOOL,2018,Combined,All Students,536,190.1,563,181,4,NaN,NaN,NaN
275,10306060007,BETHLEHEM CENTRAL MIDDLE SCHOOL,2018,Combined,All Students,1989,181.6,2373,152.2,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40113,662401060003,GEORGE WASHINGTON ELEMENTARY SCHOOL,2018,Combined,All Students,397,186,472,156.5,4,NaN,NaN,NaN
40123,662401060004,LINCOLN TITUS ELEMENTARY SCHOOL,2018,Combined,All Students,375,186.7,458,152.8,4,NaN,NaN,NaN
40132,662401060005,VAN CORTLANDTVILLE SCHOOL,2018,Combined,All Students,555,168.7,653,143.4,3,NaN,NaN,NaN
40141,662401060008,LAKELAND-COPPER BEECH MIDDLE SCHOOL,2018,Combined,All Students,1827,164,2960,101.2,3,NaN,NaN,NaN
40151,662401060009,BENJAMIN FRANKLIN ELEMENTARY SCHOOL,2018,Combined,All Students,450,180.6,616,131.9,4,NaN,NaN,NaN
40161,662402060000,YORKTOWN CENTRAL SCHOOL DISTRICT,2018,Combined,All Students,2925,165.1,3488,138.5,4,NaN,NaN,NaN
40171,662402060002,MILDRED E STRANG MIDDLE SCHOOL,2018,Combined,All Students,1421,163.4,1799,129,3,NaN,NaN,NaN
40181,662402060003,BROOKSIDE SCHOOL,2018,Combined,All Students,179,170.7,194,157.5,4,NaN,NaN,NaN
40190,662402060004,CROMPOND SCHOOL,2018,Combined,All Students,1084,171,1222,151.7,4,NaN,NaN,NaN
40199,662402060005,MOHANSIC SCHOOL,2018,Combined,All Students,213,150.9,240,134,3,NaN,NaN,NaN
40208,670201060000,ATTICA CENTRAL SCHOOL DISTRICT,2018,Combined,All Students,1144,141.3,1198,135,3,NaN,NaN,NaN
40218,670201060002,ATTICA ELEMENTARY SCHOOL,2018,Combined,All Students,380,158.6,380,158.6,4,NaN,NaN,NaN
40227,670201060004,ATTICA JUNIOR HIGH SCHOOL,2018,Combined,All Students,751,133.2,800,125.1,2,NaN,NaN,NaN
40236,670401040000,LETCHWORTH CENTRAL SCHOOL DISTRICT,2018,Combined,All Students,900,142.2,907,141.1,4,NaN,NaN,NaN
40245,670401040002,LETCHWORTH ELEMENTARY SCHOOL,2018,Combined,All Students,336,157.9,336,157.9,4,NaN,NaN,NaN
40252,670401040003,LETCHWORTH MIDDLE SCHOOL,2018,Combined,All Students,557,134.2,572,130.7,2,NaN,NaN,NaN
40260,671002040000,WYOMING CENTRAL SCHOOL DISTRICT,2018,Combined,All Students,189,151.3,189,151.3,4,NaN,NaN,NaN
40266,671002040001,WYOMING CENTRAL SCHOOL,2018,Combined,All Students,187,152.4,187,152.4,3,NaN,NaN,NaN
40272,671201060000,PERRY CENTRAL SCHOOL DISTRICT,2018,Combined,All Students,714,147,755,139,4,NaN,NaN,NaN
40281,671201060001,PERRY ELEMENTARY SCHOOL,2018,Combined,All Students,449,141.1,469,135.1,3,NaN,NaN,NaN
40290,671201060002,PERRY JUNIOR-SENIOR HIGH SCHOOL,2018,Combined,All Students,255,160,268,152.2,3,NaN,NaN,NaN
40298,671501040000,WARSAW CENTRAL SCHOOL DISTRICT,2018,Combined,All Students,704,142.7,818,122.8,3,NaN,NaN,NaN
40308,671501040001,WARSAW ELEMENTARY SCHOOL,2018,Combined,All Students,352,150.3,372,142.2,3,NaN,NaN,NaN
40317,671501040002,WARSAW MIDDLE/SENIOR HIGH SCHOOL,2018,Combined,All Students,350,135.3,439,107.9,2,NaN,NaN,NaN
40326,680601060000,PENN YAN CENTRAL SCHOOL DISTRICT,2018,Combined,All Students,1204,139.6,1332,126.2,3,NaN,NaN,NaN
40336,680601060002,PENN YAN MIDDLE SCHOOL,2018,Combined,All Students,555,136.6,663,114.3,2,NaN,NaN,NaN
40346,680601060005,PENN YAN ELEMENTARY SCHOOL,2018,Combined,All Students,620,144.3,640,139.8,3,NaN,NaN,NaN
40355,680801040000,DUNDEE CENTRAL SCHOOL DISTRICT,2018,Combined,All Students,608,124.9,612,124.1,2,NaN,NaN,NaN
40364,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2018,Combined,All Students,198,111.6,213,103.8,2,NaN,NaN,NaN
40372,680801040002,DUNDEE ELEMENTARY SCHOOL,2018,Combined,All Students,406,132.4,406,132.4,3,NaN,NaN,NaN

In [236]:
allhs_df = hs_df[hs_df['subgroup_name']=='All Students']
allhs_df1 = allhs_df.copy()
allhs_df1 = allhs_df1[allhs_df1['year'] == 2018]
allhs_df1['entity_cd'] = allhs_df1['entity_cd'].apply(str)

In [238]:
allschools_df = pd.concat([allhs_df1, allelem_df1], ignore_index=True, sort=False)
allschools_df

TypeError: concat() got an unexpected keyword argument 'sort'

In [183]:
# merge comp_df with allelem_df1 on the BOCES code.
comp_df1 = pd.merge(
    comp_df, 
    allelem_df1, 
    left_on='beds_code', 
    right_on='entity_cd',
    how = 'left')
comp_df1

,beds_code,school_district,school,county,school_city,school_zip_code,"number_of_outlets,_result_≤_15_ppb","number_of_outlets,_result_>_15_ppb",any_buildings_with_lead-free_plumbing?,entity_cd_x,...,subject,subgroup_name,core_cohort,core_index,weighted_cohort,weighted_index,composite_level,override,override_weighted,override_core
0,599000000000,BOCES No District Name,SULLIVAN BOCES,Sullivan,LIBERTY,12754,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,649000000006,BOCES No District Name,WSWHE BOCES MEYERS EDUCATIONAL CENTER MAIN BUI...,Washington,SARATOGA SPRINGS,12866,147.0,48.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,141601060007,HAMBURG CENTRAL SCHOOL,HAMBURG SHS,Erie,HAMBURG,14075,98.0,6.0,No,141601060007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,650501040001,LYONS CENTRAL SCHOOL,LYONS ELEMENTARY SCHOOL,Wayne,LYONS,14489,27.0,2.0,No,650501040001,...,Combined,All Students,607,79,611,78.5,1,NaN,NaN,NaN
4,450801060002,MEDINA CENTRAL SCHOOL,OAK ORCHARD SCHOOL,Orleans,MEDINA,14103,110.0,5.0,No,450801060002,...,Combined,All Students,198,118.4,207,113.3,2,NaN,NaN,NaN
5,411501060004,NEW HARTFORD CENTRAL SCHOOL,BRADLEY ELEMENTARY SCHOOL,Oneida,NEW HARTFORD,13413,97.0,0.0,No,411501060004,...,Combined,All Students,368,187.8,601,115,3,NaN,NaN,NaN
6,141101060002,SPRINGVILLE-GRIFF INST CENTRAL SCHOOL,COLDEN ES,Erie,COLDEN,14033,55.0,6.0,No,141101060002,...,Combined,All Students,204,149.5,252,121,3,NaN,NaN,NaN
7,200901040001,WELLS CENTRAL SCHOOL,WELLS SCHOOL,Hamilton,WELLS,12190,44.0,11.0,No,200901040001,...,Combined,All Students,144,138.9,144,138.9,3,NaN,NaN,NaN
8,X085,NYC DOE,X085,Bronx,Bronx,10458,78.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,600301040002,CANDOR CENTRAL SCHOOL,CANDOR J S H S,Tioga,CANDOR,13743,116.0,0.0,No,600301040002,...,Combined,All Students,250,105.8,295,89.7,2,NaN,NaN,NaN
10,060800010007,DUNKIRK CITY SCHOOL DISTRICT,SCHOOL 7,Chautauqua,DUNKIRK,14048,28.0,1.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,131601060015,ARLINGTON CENTRAL SCHOOL DISTRICT,UNION VALE MIDDLE SCHOOL,Dutchess,LAGRANGEVILLE,12540,150.0,45.0,No,131601060015,...,Combined,All Students,1335,147.2,2316,84.8,2,NaN,NaN,NaN
12,X067,NYC DOE,X967,Bronx,Bronx,10460,4.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"M157,M341,M481",NYC DOE,M501,New York,Manhattan,10035,101.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,660203060007,HENDRICK HUDSON CENTRAL SCHOOL,BLUE MOUNTAIN MIDDLE SCHOOL,Westchester,CORTLANDT MANOR,10567,31.0,2.0,No,660203060007,...,Combined,All Students,977,159.9,1216,128.5,3,NaN,NaN,NaN
15,580212060001,LONGWOOD CENTRAL SCHOOL DISTRICT,C E WALTERS SCHOOL,Suffolk,YAPHANK,11980,202.0,1.0,No,580212060001,...,Combined,All Students,426,141.4,739,81.5,2,NaN,NaN,NaN
16,590501060003,FALLSBURGH CENTRAL SCHOOL,BENJAMIN COSOR ELEM SCHOOL,Sullivan,FALLSBURGH,12733,117.0,2.0,No,590501060003,...,Combined,All Students,820,96.9,909,87.4,2,NaN,NaN,NaN
17,No School,NYC DOE,K813,Kings,Brooklyn,11238,14.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,K768,NYC DOE,K664,Kings,Brooklyn,11220,47.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,261600010044,ROCHESTER CITY SCHOOLS,SCHOOL 44 LINCOLN PARK,Monroe,ROCHESTER,14611,41.0,2.0,No,261600010044,...,Combined,All Students,232,62.1,232,62.1,1,NaN,NaN,NaN
20,060201060006,SOUTH WESTERN CENTRAL SCHALMONT-JAMESTOWN SCHO...,SOUTHWESTERN MS,Chautauqua,JAMESTOWN,14701,49.0,10.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,670401040002,LETCHWORTH CENT SCH AT GAINESVILLE,LETCHWORTH ES,Wyoming,GAINESVILLE,14427,33.0,7.0,No,670401040002,...,Combined,All Students,336,157.9,336,157.9,4,NaN,NaN,NaN
22,660101030006,KATONAH LEWISBORO U F S,MEADOW POND ELEM SCHOOL,Westchester,SOUTH SALEM,10590,44.0,0.0,No,660101030006,...,Combined,All Students,361,203.9,378,194.7,4,NaN,NaN,NaN
23,600801040001,SPENCER VAN ETTEN CENTRAL SCHOOL,SPENCER VAN ETTEN MIDDLE SCHOOL,Tioga,SPENCER,14883,81.0,2.0,No,600801040001,...,Combined,All Students,600,135.4,600,135.4,3,NaN,NaN,NaN
24,K325,NYC DOE,K260,Kings,Brooklyn,11207,108.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,580507060011,CONNETQUOT CENT SCH OF ISLIP,OAKDALE-BOHEMIA RD MIDDLE SCHOOL,Suffolk,OAKDALE,11769,47.0,0.0,No,580507060011,...,Combined,All Students,410,171.2,1424,49.3,3,NaN,NaN,NaN
26,420701060002,WESTHILL CENTRAL SCHOOL,CHERRY ROAD ELEM SCHOOL,Onondaga,SYRACUSE,13219,95.0,9.0,No,420701060002,...,Combined,All Students,498,159.8,567,140.4,3,NaN,NaN,NaN
27,440102060003,WASHINGTONVILLE CENTRAL SCHOOL,WASHINGTONVILLE S H S,Orange,WASHINGTONVILLE,10992,122.0,149.0,No,440102060003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,580205060002,SACHEM CENT SCH AT HOLBROOK,GRUNDY AVENUE SCHOOL,Suffolk,HOLBROOK,11741,50.0,0.0,No,580205060002,...,Combined,All Students,193,161.9,648,48.2,2,NaN,NaN,NaN
29,661100010002,NEW ROCHELLE CITY SCHOOLS,COLUMBUS ELEM SCHOOL,Westchester,NEW ROCHELLE,10801,95.0,8.0,No,661100010002,...,Combined,All Students,486,129.5,858,73.4,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4652,140600010019,BUFFALO CITY SCHOOLS,PS 19 NATIVE AMERICAN MAGNET SCHOOL,Erie,BUFFALO,14213,46.0,3.0,No,140600010019,...,Combined,All Students,655,81.9,713,75.2,1,NaN,NaN,NaN
4653,061700010009,JAMESTOWN CITY SCHOOL DISTRICT,SAMUEL G. LOVE ES,Chautauqua,JAMESTOWN,14701,70.0,1.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4654,M265,NYC DOE,M387,New York,Manhattan,10040,59.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4655,"K404,K422,K053",NYC DOE,K422,Kings,Brooklyn,11208,157.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4656,510101040001,BRASHER FALLS CENT SCH DIST,ST LAWRENCE MIDDLE SCHOOL,Saint Lawrence,BRASHER FALLS,13613,20.0,0.0,No,510101040001,...,Combined,All Students,581,130,615,122.8,2,NaN,NaN,NaN
4657,440401060009,PINE BUSH CENTRAL SCHOOL,PINE BUSH ELEMENTARY SCHOOL,Orange,PINE BUSH,12566,111.0,1.0,No,440401060009,...,Combined,All Students,642,135,730,118.8,2,NaN,NaN,NaN
4658,619000000011,BOCES No District Name,TOMPKINS-SENECA-TIOGA BOCES BUILDING D REGIONA...,Tompkins,ITHACA,14850,18.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4659,220101040004,SOUTH JEFFERSON CENTRAL SCHOOL,MANNSVILLE MANOR ELEM SCHOOL,Jefferson,ADAMS,13605,146.0,1.0,No,220101040004,...,Combined,All Students,382,148.3,384,147.5,3,NaN,NaN,NaN
4660,120701040001,FRANKLIN CENTRAL SCHOOL DISTRICT,FRANKLIN CENTRAL SCHOOL,Delaware,FRANKLIN,13775,36.0,11.0,No,120701040001,...,Combined,All Students,242,140.9,292,116.8,2,NaN,NaN,NaN
4661,489000000004,BOCES No District Name,PUTNAM-NORTHERN WESTCHESTER BOCES - Pines Brid...,Putnam,Yorktown Heights,10598,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4662,Q081,NYC DOE,Q081,Queens,Queens,11385,73.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4663,101001040006,CHATHAM CENTRAL SCHOOL DISTRICT,CHATHAM MS,Columbia,CHATHAM,12037,85.0,0.0,No,101001040006,...,Combined,All Students,436,139.1,552,109.9,2,NaN,NaN,NaN
4664,049000000003,BOCES No District Name,CATTARAUGUS-ALLEGANY-ERIE-WYOMING BOCES HAYNES...,Cattaraugus,BELMONT,14813,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4665,151001040001,NEWCOMB CENTRAL SCHOOL,NEWCOMB CENTRAL SCHOOL,Essex,NEWCOMB,NY,48.0,3.0,No,151001040001,...,Combined,All Students,76,129.6,135,73,2,NaN,NaN,NaN
4666,"M194,M709",NYC DOE,M194,New York,Manhattan,10030,45.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4667,"M397,M094",NYC DOE,M971,New York,Manhattan,10038,141.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668,280211030004,OCEANSIDE UNION FREE SCHOOL,SCHOOL 4,Nassau,OCEANSIDE,11572,21.0,0.0,No,280211030004,...,Combined,All Students,275,185.8,470,108.7,3,NaN,NaN,NaN
4669,610301060001,DRYDEN CENTRAL SCHOOL,DRYDEN ELEMENTARY SCHOOL,Tompkins,DRYDEN,13053,114.0,0.0,No,610301060001,...,Combined,All Students,610,131.5,623,128.7,2,NaN,NaN,NaN
4670,062901040004,WESTFIELD CENTRAL SCHOOL DISTRICT,WESTFIELD MS,Chautauqua,WESTFIELD,14787,20.0,3.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4671,"X045,X046",NYC DOE,X045,Bronx,Bronx,10458,116.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4672,240101040003,AVON CENTRAL SCHOOL DISTRICT,AVON MIDDLE SCHOOL,Livingston,AVON,14414,16.0,0.0,No,240101040003,...,Combined,All Students,532,143.1,690,110.4,2,NaN,NaN,NaN
4673,151501060007,TICONDEROGA CENTRAL SCHOOL,TICONDEROGA MIDDLE SCHOOL,Essex,TICONDEROGA,12883,34.0,6.0,No,151501060007,...,Combined,All Students,427,123.9,427,123.9,2,NaN,NaN,NaN
4674,"K267,K648,K649",NYC DOE,K324,Kings,Brooklyn,11221,65.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4675,521800010012,SARATOGA SPRINGS CITY SCHOOLS,LAKE AVENUE SCHOOL,Saratoga,SARATOGA SPRINGS,12866,93.0,9.0,No,521800010012,...,Combined,All Students,468,201.7,472,200,4,NaN,NaN,NaN
4676,660409020001,ELMSFORD UNION FREE SCHOOL,CARL L DIXSON ELEM SCHOOL,Westchester,ELMSFORD,10523,10.0,0.0,No,660409020001,...,Combined,All Students,72,102.1,72,102.1,2,NaN,NaN,NaN
4677,130801060002,HYDE PARK CENTRAL SCHOOL DISTRICT,NETHERWOOD SCHOOL,Dutchess,HYDE PARK,12538,68.0,13.0,No,130801060002,...,Combined,All Students,276,151.3,333,125.4,3,NaN,NaN,NaN
4678,280405020004,NEW HYDE PK-GARDEN CITY PK UFSD,MANOR OAKS WM BOWIE SCH,Nassau,NEW HYDE PARK,11040,13.0,0.0,No,280405020004,...,Combined,All Students,342,199.1,446,152.7,4,NaN,NaN,NaN
4679,580224030011,PATCHOGUE-MEDFORD U F SCH,SAXTON STREET MIDDLE SCHOOL,Suffolk,PATCHOGUE,11772,37.0,0.0,No,580224030011,...,Combined,All Students,251,128.1,1518,21.2,2,NaN,NaN,NaN
4680,580912060001,EASTPORT SOUTH MANOR CENTRAL SCHOOL,EASTPORT SOUTH MANOR CENTRAL JR SHS,Suffolk,MANORVILLE,11949,60.0,0.0,No,580912060001,...,Combined,All Students,746,152.4,1268,89.7,2,NaN,NaN,NaN
4681,K207,NYC DOE,K207,Kings,Brooklyn,11234,59.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [189]:
# merge comp_df1 with allhs_df1 on the BOCES code.
comp_df2 = pd.merge(
    comp_df1, 
    allhs_df1, 
    left_on='beds_code', 
    right_on='entity_cd',
    how = 'left')
comp_df2

,beds_code,school_district,school,county,school_city,school_zip_code,"number_of_outlets,_result_≤_15_ppb","number_of_outlets,_result_>_15_ppb",any_buildings_with_lead-free_plumbing?,entity_cd_x,...,override_core,entity_cd,entity_name,year,subject_y,subgroup_name_y,composite_cohort,composite__index,composite__level,override_y
0,599000000000,BOCES No District Name,SULLIVAN BOCES,Sullivan,LIBERTY,12754,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,649000000006,BOCES No District Name,WSWHE BOCES MEYERS EDUCATIONAL CENTER MAIN BUI...,Washington,SARATOGA SPRINGS,12866,147.0,48.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,141601060007,HAMBURG CENTRAL SCHOOL,HAMBURG SHS,Erie,HAMBURG,14075,98.0,6.0,No,141601060007,...,NaN,141601060007,HAMBURG HIGH SCHOOL,2018.0,Combined,All Students,1068,212.7,4,NaN
3,650501040001,LYONS CENTRAL SCHOOL,LYONS ELEMENTARY SCHOOL,Wayne,LYONS,14489,27.0,2.0,No,650501040001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,450801060002,MEDINA CENTRAL SCHOOL,OAK ORCHARD SCHOOL,Orleans,MEDINA,14103,110.0,5.0,No,450801060002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,411501060004,NEW HARTFORD CENTRAL SCHOOL,BRADLEY ELEMENTARY SCHOOL,Oneida,NEW HARTFORD,13413,97.0,0.0,No,411501060004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,141101060002,SPRINGVILLE-GRIFF INST CENTRAL SCHOOL,COLDEN ES,Erie,COLDEN,14033,55.0,6.0,No,141101060002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,200901040001,WELLS CENTRAL SCHOOL,WELLS SCHOOL,Hamilton,WELLS,12190,44.0,11.0,No,200901040001,...,NaN,200901040001,WELLS SCHOOL,2018.0,Combined,All Students,112,171.6,2,NaN
8,X085,NYC DOE,X085,Bronx,Bronx,10458,78.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,600301040002,CANDOR CENTRAL SCHOOL,CANDOR J S H S,Tioga,CANDOR,13743,116.0,0.0,No,600301040002,...,NaN,600301040002,CANDOR JUNIOR-SENIOR HIGH SCHOOL,2018.0,Combined,All Students,176,154.7,2,NaN
10,060800010007,DUNKIRK CITY SCHOOL DISTRICT,SCHOOL 7,Chautauqua,DUNKIRK,14048,28.0,1.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,131601060015,ARLINGTON CENTRAL SCHOOL DISTRICT,UNION VALE MIDDLE SCHOOL,Dutchess,LAGRANGEVILLE,12540,150.0,45.0,No,131601060015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,X067,NYC DOE,X967,Bronx,Bronx,10460,4.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"M157,M341,M481",NYC DOE,M501,New York,Manhattan,10035,101.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,660203060007,HENDRICK HUDSON CENTRAL SCHOOL,BLUE MOUNTAIN MIDDLE SCHOOL,Westchester,CORTLANDT MANOR,10567,31.0,2.0,No,660203060007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,580212060001,LONGWOOD CENTRAL SCHOOL DISTRICT,C E WALTERS SCHOOL,Suffolk,YAPHANK,11980,202.0,1.0,No,580212060001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,590501060003,FALLSBURGH CENTRAL SCHOOL,BENJAMIN COSOR ELEM SCHOOL,Sullivan,FALLSBURGH,12733,117.0,2.0,No,590501060003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,No School,NYC DOE,K813,Kings,Brooklyn,11238,14.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,K768,NYC DOE,K664,Kings,Brooklyn,11220,47.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,261600010044,ROCHESTER CITY SCHOOLS,SCHOOL 44 LINCOLN PARK,Monroe,ROCHESTER,14611,41.0,2.0,No,261600010044,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,060201060006,SOUTH WESTERN CENTRAL SCHALMONT-JAMESTOWN SCHO...,SOUTHWESTERN MS,Chautauqua,JAMESTOWN,14701,49.0,10.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,670401040002,LETCHWORTH CENT SCH AT GAINESVILLE,LETCHWORTH ES,Wyoming,GAINESVILLE,14427,33.0,7.0,No,670401040002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,660101030006,KATONAH LEWISBORO U F S,MEADOW POND ELEM SCHOOL,Westchester,SOUTH SALEM,10590,44.0,0.0,No,660101030006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,600801040001,SPENCER VAN ETTEN CENTRAL SCHOOL,SPENCER VAN ETTEN MIDDLE SCHOOL,Tioga,SPENCER,14883,81.0,2.0,No,600801040001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,K325,NYC DOE,K260,Kings,Brooklyn,11207,108.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,580507060011,CONNETQUOT CENT SCH OF ISLIP,OAKDALE-BOHEMIA RD MIDDLE SCHOOL,Suffolk,OAKDALE,11769,47.0,0.0,No,580507060011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,420701060002,WESTHILL CENTRAL SCHOOL,CHERRY ROAD ELEM SCHOOL,Onondaga,SYRACUSE,13219,95.0,9.0,No,420701060002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,440102060003,WASHINGTONVILLE CENTRAL SCHOOL,WASHINGTONVILLE S H S,Orange,WASHINGTONVILLE,10992,122.0,149.0,No,440102060003,...,NaN,440102060003,WASHINGTONVILLE SENIOR HIGH SCHOOL,2018.0,Combined,All Students,1284,179.3,3,NaN
28,580205060002,SACHEM CENT SCH AT HOLBROOK,GRUNDY AVENUE SCHOOL,Suffolk,HOLBROOK,11741,50.0,0.0,No,580205060002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,661100010002,NEW ROCHELLE CITY SCHOOLS,COLUMBUS ELEM SCHOOL,Westchester,NEW ROCHELLE,10801,95.0,8.0,No,661100010002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4652,140600010019,BUFFALO CITY SCHOOLS,PS 19 NATIVE AMERICAN MAGNET SCHOOL,Erie,BUFFALO,14213,46.0,3.0,No,140600010019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4653,061700010009,JAMESTOWN CITY SCHOOL DISTRICT,SAMUEL G. LOVE ES,Chautauqua,JAMESTOWN,14701,70.0,1.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4654,M265,NYC DOE,M387,New York,Manhattan,10040,59.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4655,"K404,K422,K053",NYC DOE,K422,Kings,Brooklyn,11208,157.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4656,510101040001,BRASHER FALLS CENT SCH DIST,ST LAWRENCE MIDDLE SCHOOL,Saint Lawrence,BRASHER FALLS,13613,20.0,0.0,No,510101040001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4657,440401060009,PINE BUSH CENTRAL SCHOOL,PINE BUSH ELEMENTARY SCHOOL,Orange,PINE BUSH,12566,111.0,1.0,No,440401060009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4658,619000000011,BOCES No District Name,TOMPKINS-SENECA-TIOGA BOCES BUILDING D REGIONA...,Tompkins,ITHACA,14850,18.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4659,220101040004,SOUTH JEFFERSON CENTRAL SCHOOL,MANNSVILLE MANOR ELEM SCHOOL,Jefferson,ADAMS,13605,146.0,1.0,No,220101040004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4660,120701040001,FRANKLIN CENTRAL SCHOOL DISTRICT,FRANKLIN CENTRAL SCHOOL,Delaware,FRANKLIN,13775,36.0,11.0,No,120701040001,...,NaN,120701040001,FRANKLIN CENTRAL SCHOOL,2018.0,Combined,All Students,176,189.4,3,NaN
4661,489000000004,BOCES No District Name,PUTNAM-NORTHERN WESTCHESTER BOCES - Pines Brid...,Putnam,Yorktown Heights,10598,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4662,Q081,NYC DOE,Q081,Queens,Queens,11385,73.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4663,101001040006,CHATHAM CENTRAL SCHOOL DISTRICT,CHATHAM MS,Columbia,CHATHAM,12037,85.0,0.0,No,101001040006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4664,049000000003,BOCES No District Name,CATTARAUGUS-ALLEGANY-ERIE-WYOMING BOCES HAYNES...,Cattaraugus,BELMONT,14813,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4665,151001040001,NEWCOMB CENTRAL SCHOOL,NEWCOMB CENTRAL SCHOOL,Essex,NEWCOMB,NY,48.0,3.0,No,151001040001,...,NaN,151001040001,NEWCOMB CENTRAL SCHOOL,2018.0,Combined,All Students,48,206,4,NaN
4666,"M194,M709",NYC DOE,M194,New York,Manhattan,10030,45.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4667,"M397,M094",NYC DOE,M971,New York,Manhattan,10038,141.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668,280211030004,OCEANSIDE UNION FREE SCHOOL,SCHOOL 4,Nassau,OCEANSIDE,11572,21.0,0.0,No,280211030004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4669,610301060001,DRYDEN CENTRAL SCHOOL,DRYDEN ELEMENTARY SCHOOL,Tompkins,DRYDEN,13053,114.0,0.0,No,610301060001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4670,062901040004,WESTFIELD CENTRAL SCHOOL DISTRICT,WESTFIELD MS,Chautauqua,WESTFIELD,14787,20.0,3.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4671,"X045,X046",NYC DOE,X045,Bronx,Bronx,10458,116.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4672,240101040003,AVON CENTRAL SCHOOL DISTRICT,AVON MIDDLE SCHOOL,Livingston,AVON,14414,16.0,0.0,No,240101040003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4673,151501060007,TICONDEROGA CENTRAL SCHOOL,TICONDEROGA MIDDLE SCHOOL,Essex,TICONDEROGA,12883,34.0,6.0,No,151501060007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4674,"K267,K648,K649",NYC DOE,K324,Kings,Brooklyn,11221,65.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4675,521800010012,SARATOGA SPRINGS CITY SCHOOLS,LAKE AVENUE SCHOOL,Saratoga,SARATOGA SPRINGS,12866,93.0,9.0,No,521800010012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4676,660409020001,ELMSFORD UNION FREE SCHOOL,CARL L DIXSON ELEM SCHOOL,Westchester,ELMSFORD,10523,10.0,0.0,No,660409020001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4677,130801060002,HYDE PARK CENTRAL SCHOOL DISTRICT,NETHERWOOD SCHOOL,Dutchess,HYDE PARK,12538,68.0,13.0,No,130801060002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4678,280405020004,NEW HYDE PK-GARDEN CITY PK UFSD,MANOR OAKS WM BOWIE SCH,Nassau,NEW HYDE PARK,11040,13.0,0.0,No,280405020004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4679,580224030011,PATCHOGUE-MEDFORD U F SCH,SAXTON STREET MIDDLE SCHOOL,Suffolk,PATCHOGUE,11772,37.0,0.0,No,580224030011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4680,580912060001,EASTPORT SOUTH MANOR CENTRAL SCHOOL,EASTPORT SOUTH MANOR CENTRAL JR SHS,Suffolk,MANORVILLE,11949,60.0,0.0,No,580912060001,...,NaN,580912060001,EASTPORT-SOUTH MANOR JUNIOR SENIOR HIGH SCHOOL,2018.0,Combined,All Students,1244,188.9,3,NaN
4681,K207,NYC DOE,K207,Kings,Brooklyn,11234,59.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
lunch_df1 = lunch_df.copy()
lunch_df1 = lunch_df1[lunch_df1['year'] == 2018]
lunch_df1['entity_cd'] = lunch_df1['entity_cd'].apply(str)
lunch_df1

,entity_cd,entity_name,year,num_free_lunch,per_free_lunch,num_reduced_lunch,per_reduced_lunch
0,1,NYC Public Schools,2018,670164,72,37424,4
1,2,Large Cities,2018,81038,79,1004,1
2,3,High Need/Resource Urban-Suburban Districts,2018,141728,69,8723,4
3,4,High Need/Resource Rural Districts,2018,72007,51,9301,7
4,5,Average Need Districts,2018,241901,33,35802,5
5,6,Low Need Districts,2018,44433,12,7061,2
6,7,Charter Schools,2018,102251,73,9352,7
7,1000000,ALBANY County,2018,15258,39,1014,3
8,2000000,ALLEGANY County,2018,2840,47,408,7
9,3000000,BROOME County,2018,12602,49,1108,4
10,4000000,CATTARAUGUS County,2018,5860,47,815,7
11,5000000,CAYUGA County,2018,3856,43,312,3
12,6000000,CHAUTAUQUA County,2018,9086,50,633,4
13,7000000,CHEMUNG County,2018,5289,48,325,3
14,8000000,CHENANGO County,2018,3544,51,513,7
15,9000000,CLINTON County,2018,4350,41,426,4
16,10000000,COLUMBIA County,2018,3088,45,300,4
17,11000000,CORTLAND County,2018,2699,46,331,6
18,12000000,DELAWARE County,2018,2385,46,293,6
19,13000000,DUTCHESS County,2018,11481,30,1701,4
20,14000000,ERIE County,2018,55159,45,4460,4
21,15000000,ESSEX County,2018,1463,40,216,6
22,16000000,FRANKLIN County,2018,3584,51,456,6
23,17000000,FULTON County,2018,3386,46,346,5
38,18000000,GENESEE County,2018,3064,39,474,6
39,19000000,GREENE County,2018,2319,41,236,4
40,20000000,HAMILTON County,2018,152,37,30,7
41,21000000,HERKIMER County,2018,4168,47,628,7
42,22000000,JEFFERSON County,2018,7401,43,1650,10
43,23000000,LEWIS County,2018,1677,42,389,10
...,...,...,...,...,...,...,...
16540,662401060010,WALTER PANAS HIGH SCHOOL,2018,181,20,39,4
16541,662402060000,YORKTOWN CENTRAL SCHOOL DISTRICT,2018,332,10,41,1
16542,662402060001,YORKTOWN HIGH SCHOOL,2018,125,11,17,1
16543,662402060002,MILDRED E STRANG MIDDLE SCHOOL,2018,76,9,10,1
16544,662402060003,BROOKSIDE SCHOOL,2018,56,13,4,1
16545,662402060004,CROMPOND SCHOOL,2018,42,8,8,2
16546,662402060005,MOHANSIC SCHOOL,2018,33,7,2,0
16547,670201060000,ATTICA CENTRAL SCHOOL DISTRICT,2018,353,29,99,8
16548,670201060001,ATTICA SENIOR HIGH SCHOOL,2018,115,26,31,7
16549,670201060002,ATTICA ELEMENTARY SCHOOL,2018,125,33,33,9
16550,670201060004,ATTICA JUNIOR HIGH SCHOOL,2018,113,29,35,9
16551,670401040000,LETCHWORTH CENTRAL SCHOOL DISTRICT,2018,302,34,61,7
16552,670401040001,LETCHWORTH SENIOR HIGH SCHOOL,2018,91,33,13,5
16553,670401040002,LETCHWORTH ELEMENTARY SCHOOL,2018,115,34,26,8
16554,670401040003,LETCHWORTH MIDDLE SCHOOL,2018,96,35,22,8
16555,671002040000,WYOMING CENTRAL SCHOOL DISTRICT,2018,45,39,11,10
16556,671002040001,WYOMING CENTRAL SCHOOL,2018,45,39,11,10
16557,671201060000,PERRY CENTRAL SCHOOL DISTRICT,2018,324,42,53,7
16558,671201060001,PERRY ELEMENTARY SCHOOL,2018,178,44,26,6
16559,671201060002,PERRY JUNIOR-SENIOR HIGH SCHOOL,2018,146,40,27,7
16560,671501040000,WARSAW CENTRAL SCHOOL DISTRICT,2018,355,42,46,5
16561,671501040001,WARSAW ELEMENTARY SCHOOL,2018,173,48,18,5
16562,671501040002,WARSAW MIDDLE/SENIOR HIGH SCHOOL,2018,182,37,28,6
16563,680601060000,PENN YAN CENTRAL SCHOOL DISTRICT,2018,688,51,69,5
16564,680601060001,PENN YAN ACADEMY,2018,220,50,21,5
16565,680601060002,PENN YAN MIDDLE SCHOOL,2018,135,45,18,6
16566,680601060005,PENN YAN ELEMENTARY SCHOOL,2018,333,55,30,5
16567,680801040000,DUNDEE CENTRAL SCHOOL DISTRICT,2018,344,54,51,8
16568,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2018,154,52,25,8
16569,680801040002,DUNDEE ELEMENTARY SCHOOL,2018,190,56,26,8

In [185]:
# merge comp_df2 with lunch_df1 on the BOCES code.
comp_df3 = pd.merge(
    comp_df2, 
    lunch_df1, 
    left_on='beds_code', 
    right_on='entity_cd',
    how = 'left')
comp_df3

,beds_code,school_district,school,county,school_city,school_zip_code,"number_of_outlets,_result_≤_15_ppb","number_of_outlets,_result_>_15_ppb",any_buildings_with_lead-free_plumbing?,entity_cd_x,...,composite__index,composite__level,override_y,entity_cd_y,entity_name_y,year_y,num_free_lunch,per_free_lunch,num_reduced_lunch,per_reduced_lunch
0,599000000000,BOCES No District Name,SULLIVAN BOCES,Sullivan,LIBERTY,12754,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,649000000006,BOCES No District Name,WSWHE BOCES MEYERS EDUCATIONAL CENTER MAIN BUI...,Washington,SARATOGA SPRINGS,12866,147.0,48.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,141601060007,HAMBURG CENTRAL SCHOOL,HAMBURG SHS,Erie,HAMBURG,14075,98.0,6.0,No,141601060007,...,212.7,4,NaN,141601060007,HAMBURG HIGH SCHOOL,2018.0,187.0,17.0,45.0,4.0
3,650501040001,LYONS CENTRAL SCHOOL,LYONS ELEMENTARY SCHOOL,Wayne,LYONS,14489,27.0,2.0,No,650501040001,...,NaN,NaN,NaN,650501040001,LYONS ELEMENTARY SCHOOL,2018.0,294.0,59.0,26.0,5.0
4,450801060002,MEDINA CENTRAL SCHOOL,OAK ORCHARD SCHOOL,Orleans,MEDINA,14103,110.0,5.0,No,450801060002,...,NaN,NaN,NaN,450801060002,OAK ORCHARD SCHOOL,2018.0,232.0,56.0,29.0,7.0
5,411501060004,NEW HARTFORD CENTRAL SCHOOL,BRADLEY ELEMENTARY SCHOOL,Oneida,NEW HARTFORD,13413,97.0,0.0,No,411501060004,...,NaN,NaN,NaN,411501060004,ROBERT L BRADLEY ELEMENTARY SCHOOL,2018.0,38.0,8.0,12.0,3.0
6,141101060002,SPRINGVILLE-GRIFF INST CENTRAL SCHOOL,COLDEN ES,Erie,COLDEN,14033,55.0,6.0,No,141101060002,...,NaN,NaN,NaN,141101060002,COLDEN ELEMENTARY SCHOOL,2018.0,46.0,25.0,10.0,5.0
7,200901040001,WELLS CENTRAL SCHOOL,WELLS SCHOOL,Hamilton,WELLS,12190,44.0,11.0,No,200901040001,...,171.6,2,NaN,200901040001,WELLS SCHOOL,2018.0,55.0,40.0,14.0,10.0
8,X085,NYC DOE,X085,Bronx,Bronx,10458,78.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,600301040002,CANDOR CENTRAL SCHOOL,CANDOR J S H S,Tioga,CANDOR,13743,116.0,0.0,No,600301040002,...,154.7,2,NaN,600301040002,CANDOR JUNIOR-SENIOR HIGH SCHOOL,2018.0,146.0,42.0,20.0,6.0
10,060800010007,DUNKIRK CITY SCHOOL DISTRICT,SCHOOL 7,Chautauqua,DUNKIRK,14048,28.0,1.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,131601060015,ARLINGTON CENTRAL SCHOOL DISTRICT,UNION VALE MIDDLE SCHOOL,Dutchess,LAGRANGEVILLE,12540,150.0,45.0,No,131601060015,...,NaN,NaN,NaN,131601060015,UNION VALE MIDDLE SCHOOL,2018.0,140.0,13.0,38.0,4.0
12,X067,NYC DOE,X967,Bronx,Bronx,10460,4.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"M157,M341,M481",NYC DOE,M501,New York,Manhattan,10035,101.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,660203060007,HENDRICK HUDSON CENTRAL SCHOOL,BLUE MOUNTAIN MIDDLE SCHOOL,Westchester,CORTLANDT MANOR,10567,31.0,2.0,No,660203060007,...,NaN,NaN,NaN,660203060007,BLUE MOUNTAIN MIDDLE SCHOOL,2018.0,127.0,23.0,17.0,3.0
15,580212060001,LONGWOOD CENTRAL SCHOOL DISTRICT,C E WALTERS SCHOOL,Suffolk,YAPHANK,11980,202.0,1.0,No,580212060001,...,NaN,NaN,NaN,580212060001,C E WALTERS SCHOOL,2018.0,345.0,46.0,37.0,5.0
16,590501060003,FALLSBURGH CENTRAL SCHOOL,BENJAMIN COSOR ELEM SCHOOL,Sullivan,FALLSBURGH,12733,117.0,2.0,No,590501060003,...,NaN,NaN,NaN,590501060003,BENJAMIN COSOR ELEMENTARY SCHOOL,2018.0,535.0,71.0,0.0,0.0
17,No School,NYC DOE,K813,Kings,Brooklyn,11238,14.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,K768,NYC DOE,K664,Kings,Brooklyn,11220,47.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,261600010044,ROCHESTER CITY SCHOOLS,SCHOOL 44 LINCOLN PARK,Monroe,ROCHESTER,14611,41.0,2.0,No,261600010044,...,NaN,NaN,NaN,261600010044,SCHOOL 44-LINCOLN PARK,2018.0,200.0,98.0,0.0,0.0
20,060201060006,SOUTH WESTERN CENTRAL SCHALMONT-JAMESTOWN SCHO...,SOUTHWESTERN MS,Chautauqua,JAMESTOWN,14701,49.0,10.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,670401040002,LETCHWORTH CENT SCH AT GAINESVILLE,LETCHWORTH ES,Wyoming,GAINESVILLE,14427,33.0,7.0,No,670401040002,...,NaN,NaN,NaN,670401040002,LETCHWORTH ELEMENTARY SCHOOL,2018.0,115.0,34.0,26.0,8.0
22,660101030006,KATONAH LEWISBORO U F S,MEADOW POND ELEM SCHOOL,Westchester,SOUTH SALEM,10590,44.0,0.0,No,660101030006,...,NaN,NaN,NaN,660101030006,MEADOW POND ELEMENTARY SCHOOL,2018.0,24.0,7.0,0.0,0.0
23,600801040001,SPENCER VAN ETTEN CENTRAL SCHOOL,SPENCER VAN ETTEN MIDDLE SCHOOL,Tioga,SPENCER,14883,81.0,2.0,No,600801040001,...,NaN,NaN,NaN,600801040001,SPENCER-VAN ETTEN MIDDLE SCHOOL,2018.0,146.0,51.0,20.0,7.0
24,K325,NYC DOE,K260,Kings,Brooklyn,11207,108.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,580507060011,CONNETQUOT CENT SCH OF ISLIP,OAKDALE-BOHEMIA RD MIDDLE SCHOOL,Suffolk,OAKDALE,11769,47.0,0.0,No,580507060011,...,NaN,NaN,NaN,580507060011,OAKDALE-BOHEMIA MIDDLE SCHOOL,2018.0,102.0,15.0,18.0,3.0
26,420701060002,WESTHILL CENTRAL SCHOOL,CHERRY ROAD ELEM SCHOOL,Onondaga,SYRACUSE,13219,95.0,9.0,No,420701060002,...,NaN,NaN,NaN,420701060002,CHERRY ROAD ELEMENTARY SCHOOL,2018.0,74.0,20.0,14.0,4.0
27,440102060003,WASHINGTONVILLE CENTRAL SCHOOL,WASHINGTONVILLE S H S,Orange,WASHINGTONVILLE,10992,122.0,149.0,No,440102060003,...,179.3,3,NaN,440102060003,WASHINGTONVILLE SENIOR HIGH SCHOOL,2018.0,260.0,19.0,63.0,5.0
28,580205060002,SACHEM CENT SCH AT HOLBROOK,GRUNDY AVENUE SCHOOL,Suffolk,HOLBROOK,11741,50.0,0.0,No,580205060002,...,NaN,NaN,NaN,580205060002,GRUNDY AVENUE SCHOOL,2018.0,69.0,13.0,21.0,4.0
29,661100010002,NEW ROCHELLE CITY SCHOOLS,COLUMBUS ELEM SCHOOL,Westchester,NEW ROCHELLE,10801,95.0,8.0,No,661100010002,...,NaN,NaN,NaN,661100010002,COLUMBUS ELEMENTARY SCHOOL,2018.0,550.0,69.0,57.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4652,140600010019,BUFFALO CITY SCHOOLS,PS 19 NATIVE AMERICAN MAGNET SCHOOL,Erie,BUFFALO,14213,46.0,3.0,No,140600010019,...,NaN,NaN,NaN,140600010019,NATIVE AMERICAN MAGNET,2018.0,420.0,92.0,1.0,0.0
4653,061700010009,JAMESTOWN CITY SCHOOL DISTRICT,SAMUEL G. LOVE ES,Chautauqua,JAMESTOWN,14701,70.0,1.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4654,M265,NYC DOE,M387,New York,Manhattan,10040,59.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4655,"K404,K422,K053",NYC DOE,K422,Kings,Brooklyn,11208,157.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4656,510101040001,BRASHER FALLS CENT SCH DIST,ST LAWRENCE MIDDLE SCHOOL,Saint Lawrence,BRASHER FALLS,13613,20.0,0.0,No,510101040001,...,NaN,NaN,NaN,510101040001,ST LAWRENCE MIDDLE SCHOOL,2018.0,139.0,47.0,15.0,5.0
4657,440401060009,PINE BUSH CENTRAL SCHOOL,PINE BUSH ELEMENTARY SCHOOL,Orange,PINE BUSH,12566,111.0,1.0,No,440401060009,...,NaN,NaN,NaN,440401060009,PINE BUSH ELEMENTARY SCHOOL,2018.0,240.0,38.0,40.0,6.0
4658,619000000011,BOCES No District Name,TOMPKINS-SENECA-TIOGA BOCES BUILDING D REGIONA...,Tompkins,ITHACA,14850,18.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4659,220101040004,SOUTH JEFFERSON CENTRAL SCHOOL,MANNSVILLE MANOR ELEM SCHOOL,Jefferson,ADAMS,13605,146.0,1.0,No,220101040004,...,NaN,NaN,NaN,220101040004,MANNSVILLE MANOR ELEMENTARY SCHOOL,2018.0,144.0,45.0,36.0,11.0
4660,120701040001,FRANKLIN CENTRAL SCHOOL DISTRICT,FRANKLIN CENTRAL SCHOOL,Delaware,FRANKLIN,13775,36.0,11.0,No,120701040001,...,189.4,3,NaN,120701040001,FRANKLIN CENTRAL SCHOOL,2018.0,101.0,40.0,23.0,9.0
4661,489000000004,BOCES No District Name,PUTNAM-NORTHERN WESTCHESTER BOCES - Pines Brid...,Putnam,Yorktown Heights,10598,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4662,Q081,NYC DOE,Q081,Queens,Queens,11385,73.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4663,101001040006,CHATHAM CENTRAL SCHOOL DISTRICT,CHATHAM MS,Columbia,CHATHAM,12037,85.0,0.0,No,101001040006,...,NaN,NaN,NaN,101001040006,CHATHAM MIDDLE SCHOOL,2018.0,91.0,35.0,12.0,5.0
4664,049000000003,BOCES No District Name,CATTARAUGUS-ALLEGANY-ERIE-WYOMING BOCES HAYNES...,Cattaraugus,BELMONT,14813,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4665,151001040001,NEWCOMB CENTRAL SCHOOL,NEWCOMB CENTRAL SCHOOL,Essex,NEWCOMB,NY,48.0,3.0,No,151001040001,...,206,4,NaN,151001040001,NEWCOMB CENTRAL SCHOOL,2018.0,17.0,22.0,14.0,18.0
4666,"M194,M709",NYC DOE,M194,New York,Manhattan,10030,45.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4667,"M397,M094",NYC DOE,M971,New York,Manhattan,10038,141.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668,280211030004,OCEANSIDE UNION FREE SCHOOL,SCHOOL 4,Nassau,OCEANSIDE,11572,21.0,0.0,No,280211030004,...,NaN,NaN,NaN,280211030004,SCHOOL 4,2018.0,38.0,13.0,5.0,2.0
4669,610301060001,DRYDEN CENTRAL SCHOOL,DRYDEN ELEMENTARY SCHOOL,Tompkins,DRYDEN,13053,114.0,0.0,No,610301060001,...,NaN,NaN,NaN,610301060001,DRYDEN ELEMENTARY SCHOOL,2018.0,205.0,44.0,19.0,4.0
4670,062901040004,WESTFIELD CENTRAL SCHOOL DISTRICT,WESTFIELD MS,Chautauqua,WESTFIELD,14787,20.0,3.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4671,"X045,X046",NYC DOE,X045,Bronx,Bronx,10458,116.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4672,240101040003,AVON CENTRAL SCHOOL DISTRICT,AVON MIDDLE SCHOOL,Livingston,AVON,14414,16.0,0.0,No,240101040003,...,NaN,NaN,NaN,240101040003,AVON MIDDLE SCHOOL,2018.0,91.0,28.0,20.0,6.0
4673,151501060007,TICONDEROGA CENTRAL SCHOOL,TICONDEROGA MIDDLE SCHOOL,Essex,TICONDEROGA,12883,34.0,6.0,No,151501060007,...,NaN,NaN,NaN,151501060007,TICONDEROGA MIDDLE SCHOOL,2018.0,70.0,38.0,2.0,1.0
4674,"K267,K648,K649",NYC DOE,K324,Kings,Brooklyn,11221,65.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4675,521800010012,SARATOGA SPRINGS CITY SCHOOLS,LAKE AVENUE SCHOOL,Saratoga,SARATOGA SPRINGS,12866,93.0,9.0,No,521800010012,...,NaN,NaN,NaN,521800010012,LAKE AVENUE ELEMENTARY SCHOOL,2018.0,36.0,9.0,1.0,0.0
4676,660409020001,ELMSFORD UNION FREE SCHOOL,CARL L DIXSON ELEM SCHOOL,Westchester,ELMSFORD,10523,10.0,0.0,No,660409020001,...,NaN,NaN,NaN,660409020001,CARL L DIXSON ELEMENTARY SCHOOL,2018.0,50.0,34.0,4.0,3.0
4677,130801060002,HYDE PARK CENTRAL SCHOOL DISTRICT,NETHERWOOD SCHOOL,Dutchess,HYDE PARK,12538,68.0,13.0,No,130801060002,...,NaN,NaN,NaN,130801060002,NETHERWOOD SCHOOL,2018.0,105.0,35.0,23.0,8.0
4678,280405020004,NEW HYDE PK-GARDEN CITY PK UFSD,MANOR OAKS WM BOWIE SCH,Nassau,NEW HYDE PARK,11040,13.0,0.0,No,280405020004,...,NaN,NaN,NaN,280405020004,MANOR OAKS WILLIAM BOWIE SCHOOL,2018.0,22.0,7.0,7.0,2.0
4679,580224030011,PATCHOGUE-MEDFORD U F SCH,SAXTON STREET MIDDLE SCHOOL,Suffolk,PATCHOGUE,11772,37.0,0.0,No,580224030011,...,NaN,NaN,NaN,580224030011,SAXTON MIDDLE SCHOOL,2018.0,321.0,46.0,61.0,9.0
4680,580912060001,EASTPORT SOUTH MANOR CENTRAL SCHOOL,EASTPORT SOUTH MANOR CENTRAL JR SHS,Suffolk,MANORVILLE,11949,60.0,0.0,No,580912060001,...,188.9,3,NaN,580912060001,EASTPORT-SOUTH MANOR JUNIOR SENIOR HIGH SCHOOL,2018.0,287.0,16.0,32.0,2.0
4681,K207,NYC DOE,K207,Kings,Brooklyn,11234,59.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 5. Exploratory data analysis

## 6. Supervised Learning Models

## 7. Summary of Results

### Pros and Cons of Dataset:

### Future Study: